<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- 공통 헤드-->
<th:block th:replace="/fragments/head :: headFragment"></th:block>


<link rel="stylesheet" href="assets/css/include/info_modify.css">

<body>
    <!-- 공통 사이드 메뉴 -->
    <th:block th:replace="/fragments/sidebar :: sidebarFragment"></th:block>

    <!-- 공통 상단 메뉴 -->
    <th:block th:replace="/fragments/top :: topbarFragment"></th:block>

    <!-- 머리글 -->
    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>채용 정보 설정</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-5">

        <!-- 직무 관리 -->
        <div class="col-sm-12 m-3">
            <div class="card-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th class="title" scope="row">직무 관리</th>
                        </tr>
                        <tr>
                            <td>
                                <div class="content">
                                    <div class="row">
                                        <div class="col-sm-2"><a href="/info_modify" role="button">1. 토목 <img
                                                    src="images/x-square.svg"></a></div>
                                        <div class="col-sm-2"><a href="/info_modify" role="button">2. 안전 <img
                                                    src="images/x-square.svg"></a></div>
                                        <div class="col-sm-2"><a href="/info_modify" role="button">3. 플랜트 <img
                                                    src="images/x-square.svg"></a></div>
                                        <div class="col-sm-2"><a href="/info_modify" role="button">4. 엔지니어링 <img
                                                    src="images/x-square.svg"></a></div>
                                        <div class="col-sm-2"><a href="/info_modify" role="button">5. 인사 <img
                                                    src="images/x-square.svg"></a></div>
                                        <div class="col-sm-2"><a href="/info_modify" role="button">6. 회계 <img
                                                    src="images/x-square.svg"></a></div>
                                        <div class="col-sm-2"><a href="/info_modify" role="button">7. 전산 <img
                                                    src="images/x-square.svg"></a></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row float-right">
                    <div class="col"><input type="text" id="text-input" name="text-input" placeholder="추가 직무 입력"
                            class="form-control" style="width: 300px;">
                    </div>
                    <div class="col">
                        <button class="btn btn-info" type="button" data-toggle="modal" data-target="#writeModal">직무
                            추가</button>

                    </div>
                </div>
            </div>
        </div>


        <!-- 자기소개 항목 수정 -->
        <div class="col-sm-12 m-3">
            <div class="card-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th colspan="2" class="title" scope="row">자기소개 항목 수정</th>
                        </tr>
                        <tr>
                            <td class="question">질문 1</td>
                            <td>
                                <div class="col-11">1. 지원동기</div>
                                <div class="col-1"><a href="/info_modify" role="button"><img style="width: 30%;"
                                            src="images/x-square.svg"></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="question">질문 2</td>
                            <td>
                                <div class="col-11">2. 입사후 포부</div>
                                <div class="col-1"><a href="/info_modify" role="button"><img style="width: 30%;"
                                            src="images/x-square.svg"></a>
                                </div>
                            </td>
                        </tr><tr>
                            <td class="question">질문 3</td>
                            <td>
                                <div class="col-11">3. 성장배경</div>
                                <div class="col-1"><a href="/info_modify" role="button"><img style="width: 30%;"
                                            src="images/x-square.svg"></a>
                                </div>
                            </td>
                        </tr><tr>
                            <td class="question">질문 4</td>
                            <td>
                                <div class="col-11">4. 성격 및 장단점</div>
                                <div class="col-1"><a href="/info_modify" role="button"><img style="width: 30%;"
                                            src="images/x-square.svg"></a>
                                </div>
                            </td>
                        </tr><tr>
                            <td class="question">질문 5</td>
                            <td>
                                <div class="col-11">5. 주도적으로 업무를 수행한 사례</div>
                                <div class="col-1"><a href="/info_modify" role="button"><img style="width: 30%;"
                                            src="images/x-square.svg"></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row float-right">
                    <div class="col"><input type="text" id="text-input" name="text-input" placeholder="질문 입력"
                            class="form-control" style="width: 600px;">
                    </div>
                    <div class="col">
                        <button class="btn btn-info" type="button" data-toggle="modal" data-target="#writeModal">항목
                            추가</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 공통 스크립트-->
    <th:block th:replace="/fragments/script :: scriptFragment"></th:block>
</body>

</html>