.loginForm {
    margin: 10% auto;
}


.loginIm {
    margin: 10%;
    position: absolute;
    text-align: center;
}

.legist {
    text-align: right;
    margin: 30px;
}

.logB {
    margin: 10px auto;
    display: flex;
    background-color: rgb(82, 80, 80);
    font-size: 120%;
}

.form-group {
    margin: 20px;
}

.bodyNav {
    padding-top: 100px;
}

.logo {
    width: 20%;
}

.categories {
    display: flex;
    margin: 0 auto;
}

.form-select {
    width: 180px;
    height: 40px;
    margin: 10px;
}

.d-flex {
    height: 40px;
    margin-top: 10px;
}

.search-button {
    background-color: rgba(255, 255, 255, 0);
    border: 10px solid transparent;
    position: relative;
    left: -40px;
    top: -5px
}

.list-group {
    margin: 0 auto;
    margin-top: 60px;
}

.list-group-item {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}