.row {
    background-color: white;
}

/* .card-body .table .title{
    border: none; border-color: white;
}

.content {
    border: 1px solid rgb(194, 194, 194);
    padding: 20px;
}

.content .row{
    text-align: start;
}

.title{
    border: none;
    border-color: white;
}

.question{
    width: 100px;
} */