<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- 공통 헤드-->
<th:block th:replace="/fragments/head :: headFragment"></th:block>

<!-- CKEditor CDN 추가 -->
<script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>

<!-- Custom Stylesheets -->
<link rel="stylesheet" href="css/form/form.css">
<link rel="stylesheet" href="css/layout/sidebar.css">

<style>
    .card {
        margin-bottom: 20px;
    }

    .job {
        color: rgb(80, 80, 80);
    }

    .anno_date {
        color: rgb(80, 80, 80);
        display: inline;
    }

    .card-text {
        padding-bottom: 30px;
        padding-top: 10px;
    }

    .btn-primary {
        background-color: rgb(255, 255, 255);
        color: rgb(80, 80, 80);
        font-weight: bold;
    }

    .btn-primary:hover,
    a.btn.btn-primary.float-end.rounded-5.border.border-secondary:active {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        font-weight: bold;
    }

    .d-day {
        background-color: rgb(141, 0, 0);
        color: aliceblue;
        font-weight: bold;
        width: 50px;
        height: 50px;
        text-align: center;
        display: inline;
        padding: 0.5% 1.5%;
        letter-spacing: 2px;
    }

    .userManagement {
        border: 1px solid #000000;
        background-color: #ffffff;
        color: #000000;
    }

    .userManagement:hover {
        border: 1px solid #000000;
        background-color: #000000;
        color: #ffffff;
    }

    #insertBtn {
        width: 130px;
    }

    #container {
        width: 1000px;
        margin: 20px auto;
    }

    .dropdown-toggle::before {
        color: #00000000;
    }

    a.dropdown-item:active {
        color: rgb(0, 0, 0);
        background-color: #e6e6e6;
    }
</style>

<body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/admin_home"><img src="/images/dgmark.png" alt="logo"
                style="width: 20%;">
            <p class="home">채용관리시스템</p>
        </a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </header>

    <div class="container-fluid">
        <div class="row">
            <!-- 사이드바 -->
            <th:block th:replace="/fragments/sidebar :: sidebarFragment"></th:block>
            <div class="col-md-9 col-lg-10 px-md-4">
                <div class="row mb-4 border-bottom"
                    style="position: sticky; top: 0; background-color: #fff; z-index: 100; padding-top: 40px;">
                    <div class="col">
                        <h1 class="h2 my-3">채용공고 관리</h1>
                    </div>
                    <div class="col">
                        <div class="btn-toolbar me-2 my-4 mb-md-0 float-end">
                            <button type="button" class="btn btn-sm mx-1 btn-outline-secondary dropdown-toggle ">
                                <span data-feather="calendar"></span>
                                등록순
                            </button>
                            <button type="button" id="insertBtn"
                                class="btn btn-sm mx-1 btn-outline-secondary rounded-0">공고
                                등록</button>
                        </div>
                    </div>
                </div>
                <div class="w-100" id="myChart" width="900" height="380">
                    <div class="list">
                        <th:block th:each="anno : ${annoList}">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <p class="card-title job ms-2" th:text="${anno.appJob}"></p>
                                        </div>
                                        <div class="col-6">
                                            <div class="dropstart float-end">
                                                <i class="dropdown-toggle" data-bs-toggle="dropdown"
                                                    aria-expanded="false" style="cursor:pointer">
                                                    <i data-feather="settings" style="color: #000000;"></i>
                                                </i>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item updateInfo"
                                                            th:data-app-no="${anno.appNo}"
                                                            style="cursor: pointer;">수정</a>
                                                    </li>
                                                    <div class="dropdown-divider"></div>
                                                    <li><a class="dropdown-item deleteInfo"
                                                            th:data-app-no="${anno.appNo}"
                                                            style="cursor: pointer;">삭제</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <h5 class="card-text appTtitle ms-3" th:text="${anno.appTitle}"
                                            th:data-app-no="${anno.appNo}"
                                            style="cursor: pointer; display: inline-block;">
                                        </h5>
                                    </div>
                                    <div class="d-day rounded-5 ms-1"
                                        th:text="(${anno.appDday != 0} ? 'D-' + ${anno.appDday} : 'D-Day')"></div>
                                    <p class="card-title anno_date ms-1"
                                        th:text="|${#dates.format(anno.appStartDate, 'yyyy.MM.dd')} ~ ${#dates.format(anno.appEndDate, 'yyyy.MM.dd')}|">
                                    </p>
                                    <button type="button"
                                        class="btn btn-outline-primary btncolor rounded-0 float-end userManagement"
                                        th:data-app-no="${anno.appNo}">지원자 조회</button>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 공통 스크립트-->
    <th:block th:replace="/fragments/script :: scriptFragment"></th:block>
    <script>
        feather.replace()
    </script>
    <script>
        $(".updateInfo, #insertBtn, .deleteInfo, .appTtitle, .userManagement").on("click", function () {
            var appNo = $(this).data("app-no");
            var url = "/anno_crud";
            // var actionType = $(this).hasClass('updateInfo') ? 'update' : $(this).hasClass('deleteInfo') ? 'delete' : 'insert';
            var actionType = $(this).hasClass('updateInfo') ? 'update' : $(this).hasClass('deleteInfo') ? 'delete' : $(this).hasClass('appTtitle') ? 'detail' : $(this).hasClass('userManagement') ? 'management' : 'insert';


            var popupW = 1400;
            var popupH = 800;
            var popupX = (window.screen.width - popupW) / 2;
            var popupY = (window.screen.height - popupH) / 2;

            if (actionType === 'update') {
                $.ajax({
                    method: "POST",
                    url: "/admin_home?app_no=" + appNo
                })
                    .done(function (data) {
                        window.open(url, 'appUpdatePopup', 'width=' + popupW + ', height=' + popupH + ', top=' + popupY + ', left=' + popupX);
                    })
                    .fail(function (data, textStatus, errorThrown) {
                        alert("해당 공고에 등록된 이메일이 있습니다.")
                        callback(data);
                    });
            } else if (actionType === 'insert') {
                window.open(url, 'appInsertPopup', 'width=' + popupW + ', height=' + popupH + ', top=' + popupY + ', left=' + popupX);
            } else if (actionType === 'delete' && confirm('삭제하시겠습니까?')) {
                $.ajax({
                    method: "POST",
                    url: "/appDelete?app_no=" + appNo
                })
                    .done(function (data) {
                        alert('삭제되었습니다.');
                        location.reload();
                    })
                    .fail(function (data, textStatus, errorThrown) {
                        alert("해당 공고에 등록된 이메일이 있습니다.")
                        callback(data);
                    });
            } else if (actionType === 'detail') {
                window.open('/anno_detail?app_no=' + appNo, 'appDetailPopup', 'width=' + popupW + ', height=' + popupH + ', top=' + popupY + ', left=' + popupX);
            } else if (actionType === 'management') {
                $.ajax({
                    method: "GET",
                    url: "/user_management?app_no=" + appNo
                })
                    .done(function (data) {
                        location.href = "/user_management?app_no=" + appNo;
                    })
                    .fail(function (data, textStatus, errorThrown) {
                        alert("해당 공고에 등록된 이메일이 있습니다.")
                        callback(data);
                    });

            }
        });
    </script>
</body>

</html>