<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- 공통 헤드-->
<th:block th:replace="/fragments/head :: headFragment"></th:block>

<link rel="stylesheet" href="assets/css/include/index.css">

<body>
    <!-- 공통 사이드 메뉴 -->
    <th:block th:replace="/fragments/sidebar :: sidebarFragment"></th:block>

    <!-- 공통 상단 메뉴 -->
    <th:block th:replace="/fragments/top :: topbarFragment"></th:block>

    <!-- 머리글 -->
    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>진행중인 공고</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- 등록버튼 -->
    <div class="row-12">
        <div class="col-11"></div>
        <div class="col-1"><button class="btn btn-info my-2" type="button" data-toggle="modal"
                data-target="#writeModal">공고 등록</button></div>

        <!-- 모달 공고 등록 -->
        <div class="modal fade bd-example-modal-xl" id="writeModal" tabindex="-1" role="dialog"
            aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content"
                    style="width: 1500px; position: fixed; top: 50%; left: 50%; transform: translate(-50%);">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myLargeModalLabel">공고 등록</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mt-3">
                        <table class="table">
                            <thead>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row" style="border: none;"><span class="marking">&#42; </span>제목</th>
                                    <td style="border: none;">
                                        <input type="text" id="company" class="form-control">

                                    </td>

                                </tr>
                                <tr>
                                    <th scope="row"><span class="marking">&#42; </span>유형</th>
                                    <td>
                                        <div class="form-check-inline form-check">
                                            <label for="inline-radio1" class="form-check-label">
                                                <input type="radio" id="inline-radio1" name="inline-radios"
                                                    value="option1" class="form-check-input">신입
                                            </label>
                                            <label for="inline-radio2" class="form-check-label">
                                                <input type="radio" id="inline-radio2" name="inline-radios"
                                                    value="option2" class="form-check-input">경력
                                            </label>
                                            <label for="inline-radio3" class="form-check-label">
                                                <input type="radio" id="inline-radio3" name="inline-radios"
                                                    value="option3" class="form-check-input">신입/경력
                                            </label>
                                            <label for="inline-radio4" class="form-check-label">
                                                <input type="radio" id="inline-radio4" name="inline-radios"
                                                    value="option3" class="form-check-input">계약직
                                            </label>
                                            <label for="inline-radio5" class="form-check-label">
                                                <input type="radio" id="inline-radio5" name="inline-radios"
                                                    value="option3" class="form-check-input">비정규직
                                            </label>
                                            <label for="inline-radio6" class="form-check-label">
                                                <input type="radio" id="inline-radio6" name="inline-radios"
                                                    value="option3" class="form-check-input">유형1
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row"><span class="marking">&#42; </span>기간</th>
                                    <td>
                                        <input type="date" id="date" /> ~ <input type="date" id="date" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row"><span class="marking">&#42; </span>사항</th>
                                    <td>
                                        <div class="form-check-inline form-check">
                                            <label for="info_default" class="form-check-label">
                                                <input type="checkbox" checked="checked" disabled="disabled"
                                                    id="info_default" name="info_default" value="basic"
                                                    class="form-check-input">기본사항
                                            </label>
                                            <label for="info_edu" class="form-check-label">
                                                <input type="checkbox" id="info_edu" name="info_edu"
                                                    value="education" class="form-check-input">학력사항
                                            </label>
                                            <label for="info_career" class="form-check-label">
                                                <input type="checkbox" id="info_career" name="info_career"
                                                    value="career " class="form-check-input">경력사항
                                            </label>
                                            <label for="info_lang" class="form-check-label">
                                                <input type="checkbox" id="info_lang" name="info_lang"
                                                    value="language" class="form-check-input">외국어/자격사항
                                            </label>
                                            <label for="info_act" class="form-check-label">
                                                <input type="checkbox" id="info_act" name="info_act"
                                                    value="activities" class="form-check-input">활동사항
                                            </label>
                                            <label for="self_intro" class="form-check-label">
                                                <input type="checkbox" id="self_intro" name="self_intro"
                                                    value="self_intro" class="form-check-input">자기소개
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row"><span class="marking">&#42; </span>직무</th>
                                    <td>
                                        <div class="form-check-inline form-check">
                                            <label for="inline-checkbox1" class="form-check-label ">
                                                <input type="checkbox" id="inline-checkbox1" name="inline-checkbox1"
                                                    value="option1" class="form-check-input">토목
                                            </label>
                                            <label for="inline-checkbox2" class="form-check-label ">
                                                <input type="checkbox" id="inline-checkbox2" name="inline-checkbox2"
                                                    value="option2" class="form-check-input">안전
                                            </label>
                                            <label for="inline-checkbox3" class="form-check-label ">
                                                <input type="checkbox" id="inline-checkbox3" name="inline-checkbox3"
                                                    value="option3" class="form-check-input"/>플랜트
                                            </label>
                                            <label for="inline-checkbox4" class="form-check-label ">
                                                <input type="checkbox" id="inline-checkbox4" name="inline-checkbox4"
                                                    value="option4" class="form-check-input">엔지니어링
                                            </label>
                                            <label for="inline-checkbox5" class="form-check-label ">
                                                <input type="checkbox" id="inline-checkbox5" name="inline-checkbox5"
                                                    value="option5" class="form-check-input">인사
                                            </label>
                                            <label for="inline-checkbox6" class="form-check-label ">
                                                <input type="checkbox" id="inline-checkbox6" name="inline-checkbox6"
                                                    value="option6" class="form-check-input">회계
                                            </label>
                                            <label for="inline-checkbox7" class="form-check-label ">
                                                <input type="checkbox" id="inline-checkbox7" name="inline-checkbox7"
                                                    value="option7" class="form-check-input">전산
                                            </label>
                                            <label for="inline-checkbox8" class="form-check-label ">
                                                <input type="checkbox" id="inline-checkbox8" name="inline-checkbox7"
                                                    value="option7" class="form-check-input">전산
                                            </label>
                                            <label for="inline-checkbox9" class="form-check-label ">
                                                <input type="checkbox" id="inline-checkbox9" name="inline-checkbox7"
                                                    value="option7" class="form-check-input">전산
                                            </label>
                                            <label for="inline-checkbox0" class="form-check-label ">
                                                <input type="checkbox" id="inline-checkbox0" name="inline-checkbox7"
                                                    value="option7" class="form-check-input">전산
                                            </label>
                                            <label for="inline-checkbox10" class="form-check-label ">
                                                <input type="checkbox" id="inline-checkbox10" name="inline-checkbox7"
                                                    value="option7" class="form-check-input"/>전산
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row"><span class="marking">&#42; </span>내용</th>
                                    <td><div class="col-md-12"><textarea name="textarea-input" id="textarea-input" rows="35" placeholder="내용" class="form-control"></textarea></div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">등록</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 모달 끝 -->

        <!-- 모달 공고 등록 -->
        <div class="modal fade bd-example-modal-xl" id="modifyModal" tabindex="-1" role="dialog"
            aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content"
                    style="width: 1500px; position: fixed; top: 50%; left: 50%; transform: translate(-50%);">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myLargeModalLabel">공고 수정</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mt-3">
                        <table class="table">
                            <thead>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row" style="border: none;"><span class="marking">&#42; </span>제목</th>
                                    <td style="border: none;">
                                        <input type="text" id="company" class="form-control">

                                    </td>

                                </tr>
                                <tr>
                                    <th scope="row"><span class="marking">&#42; </span>유형</th>
                                    <td>
                                        <div class="form-check-inline form-check">
                                            <label for="inline-radio1" class="form-check-label">
                                                <input type="radio" id="inline-radio1" name="inline-radios"
                                                    value="option1" class="form-check-input">신입
                                            </label>
                                            <label for="inline-radio2" class="form-check-label">
                                                <input type="radio" id="inline-radio2" name="inline-radios"
                                                    value="option2" class="form-check-input">경력
                                            </label>
                                            <label for="inline-radio3" class="form-check-label">
                                                <input type="radio" id="inline-radio3" name="inline-radios"
                                                    value="option3" class="form-check-input">신입/경력
                                            </label>
                                            <label for="inline-radio4" class="form-check-label">
                                                <input type="radio" id="inline-radio4" name="inline-radios"
                                                    value="option3" class="form-check-input">계약직
                                            </label>
                                            <label for="inline-radio5" class="form-check-label">
                                                <input type="radio" id="inline-radio5" name="inline-radios"
                                                    value="option3" class="form-check-input">비정규직
                                            </label>
                                            <label for="inline-radio6" class="form-check-label">
                                                <input type="radio" id="inline-radio6" name="inline-radios"
                                                    value="option3" class="form-check-input">유형1
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row"><span class="marking">&#42; </span>기간</th>
                                    <td>
                                        <input type="date" id="date" /> ~ <input type="date" id="date" />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row"><span class="marking">&#42; </span>사항</th>
                                    <td>
                                        <div class="form-check-inline form-check">
                                            <label for="info_default" class="form-check-label">
                                                <input type="checkbox" checked="checked" disabled="disabled"
                                                    id="info_default" name="info_default" value="basic"
                                                    class="form-check-input">기본사항
                                            </label>
                                            <label for="info_edu" class="form-check-label">
                                                <input type="checkbox" id="info_edu" name="info_edu"
                                                    value="education" class="form-check-input">학력사항
                                            </label>
                                            <label for="info_career" class="form-check-label">
                                                <input type="checkbox" id="info_career" name="info_career"
                                                    value="career " class="form-check-input">경력사항
                                            </label>
                                            <label for="info_lang" class="form-check-label">
                                                <input type="checkbox" id="info_lang" name="info_lang"
                                                    value="language" class="form-check-input">외국어/자격사항
                                            </label>
                                            <label for="info_act" class="form-check-label">
                                                <input type="checkbox" id="info_act" name="info_act"
                                                    value="activities" class="form-check-input">활동사항
                                            </label>
                                            <label for="self_intro" class="form-check-label">
                                                <input type="checkbox" id="self_intro" name="self_intro"
                                                    value="self_intro" class="form-check-input">자기소개
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row"><span class="marking">&#42; </span>직무</th>
                                    <td>
                                        <div class="form-check-inline form-check">
                                            <label for="inline-checkbox1" class="form-check-label ">
                                                <input type="checkbox" id="inline-checkbox1" name="inline-checkbox1"
                                                    value="option1" class="form-check-input">토목
                                            </label>
                                            <label for="inline-checkbox2" class="form-check-label ">
                                                <input type="checkbox" id="inline-checkbox2" name="inline-checkbox2"
                                                    value="option2" class="form-check-input">안전
                                            </label>
                                            <label for="inline-checkbox3" class="form-check-label ">
                                                <input type="checkbox" id="inline-checkbox3" name="inline-checkbox3"
                                                    value="option3" class="form-check-input"/>플랜트
                                            </label>
                                            <label for="inline-checkbox4" class="form-check-label ">
                                                <input type="checkbox" id="inline-checkbox4" name="inline-checkbox4"
                                                    value="option4" class="form-check-input">엔지니어링
                                            </label>
                                            <label for="inline-checkbox5" class="form-check-label ">
                                                <input type="checkbox" id="inline-checkbox5" name="inline-checkbox5"
                                                    value="option5" class="form-check-input">인사
                                            </label>
                                            <label for="inline-checkbox6" class="form-check-label ">
                                                <input type="checkbox" id="inline-checkbox6" name="inline-checkbox6"
                                                    value="option6" class="form-check-input">회계
                                            </label>
                                            <label for="inline-checkbox7" class="form-check-label ">
                                                <input type="checkbox" id="inline-checkbox7" name="inline-checkbox7"
                                                    value="option7" class="form-check-input">전산
                                            </label>
                                            <label for="inline-checkbox8" class="form-check-label ">
                                                <input type="checkbox" id="inline-checkbox8" name="inline-checkbox7"
                                                    value="option7" class="form-check-input">전산
                                            </label>
                                            <label for="inline-checkbox9" class="form-check-label ">
                                                <input type="checkbox" id="inline-checkbox9" name="inline-checkbox7"
                                                    value="option7" class="form-check-input">전산
                                            </label>
                                            <label for="inline-checkbox0" class="form-check-label ">
                                                <input type="checkbox" id="inline-checkbox0" name="inline-checkbox7"
                                                    value="option7" class="form-check-input">전산
                                            </label>
                                            <label for="inline-checkbox10" class="form-check-label ">
                                                <input type="checkbox" id="inline-checkbox10" name="inline-checkbox7"
                                                    value="option7" class="form-check-input"/>전산
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row"><span class="marking">&#42; </span>내용</th>
                                    <td><div class="col-md-12"><textarea name="textarea-input" id="textarea-input" rows="35" placeholder="내용" class="form-control"></textarea></div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">등록</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 모달 끝 -->


    </div>



    <!-- 공고 목록 -->
    <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-flat-color-1">
            <div class="card-body pb-0">
                <div class="dropdown float-right">
                    <button class="btn bg-transparent dropdown-toggle theme-toggle text-light" type="button"
                        id="dropdownMenuButton1" data-toggle="dropdown">
                        <i class="fa fa-cog"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <div class="dropdown-menu-content">
                            <a class="dropdown-item" href="#modifyModal" data-toggle="modal">공고 수정</a>
                            <a class="dropdown-item" href="#">삭제</a>
                        </div>
                    </div>
                </div>
                <h4 class="mb-1">
                    <span class="date">2001-01-01 ~ 2002-02-02</span>
                </h4>
                <p class="text-light">[계약직] [청주] 건설현장 사무보조 직원 채용</p>

            </div>

        </div>
    </div>
    <!--/.col-->

    <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-flat-color-1">
            <div class="card-body pb-0">
                <div class="dropdown float-right">
                    <button class="btn bg-transparent dropdown-toggle theme-toggle text-light" type="button"
                        id="dropdownMenuButton1" data-toggle="dropdown">
                        <i class="fa fa-cog"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <div class="dropdown-menu-content">
                            <a class="dropdown-item" href="#">공고 수정</a>
                            <a class="dropdown-item" href="#">삭제</a>
                        </div>
                    </div>
                </div>
                <h4 class="mb-1">
                    <span class="date">2001-01-01 ~ 2002-02-02</span>
                </h4>
                <p class="text-light">[계약직] [청주] 건설현장 공사관리자, 안전감시원 채용</p>

            </div>

        </div>
    </div>
    <!--/.col-->

    <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-flat-color-1">
            <div class="card-body pb-0">
                <div class="dropdown float-right">
                    <button class="btn bg-transparent dropdown-toggle theme-toggle text-light" type="button"
                        id="dropdownMenuButton1" data-toggle="dropdown">
                        <i class="fa fa-cog"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <div class="dropdown-menu-content">
                            <a class="dropdown-item" href="#">공고 수정</a>
                            <a class="dropdown-item" href="#">삭제</a>
                        </div>
                    </div>
                </div>
                <h4 class="mb-1">
                    <span class="date">2001-01-01 ~ 2002-02-02</span>
                </h4>
                <p class="text-light">[정규직] [안전관리] 부문 직원 채용 공고</p>

            </div>

        </div>
    </div>
    <!--/.col-->

    <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-flat-color-1">
            <div class="card-body pb-0">
                <div class="dropdown float-right">
                    <button class="btn bg-transparent dropdown-toggle theme-toggle text-light" type="button"
                        id="dropdownMenuButton1" data-toggle="dropdown">
                        <i class="fa fa-cog"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <div class="dropdown-menu-content">
                            <a class="dropdown-item" href="#">공고 수정</a>
                            <a class="dropdown-item" href="#">삭제</a>
                        </div>
                    </div>
                </div>
                <h4 class="mb-1">
                    <span class="date">2001-01-01 ~ 2002-02-02</span>
                </h4>
                <p class="text-light">[정규직] [토목시공] 부문 직원 채용 공고</p>

            </div>

        </div>
    </div>
    <!--/.col-->

    <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-flat-color-1">
            <div class="card-body pb-0">
                <div class="dropdown float-right">
                    <button class="btn bg-transparent dropdown-toggle theme-toggle text-light" type="button"
                        id="dropdownMenuButton1" data-toggle="dropdown">
                        <i class="fa fa-cog"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <div class="dropdown-menu-content">
                            <a class="dropdown-item" href="#">공고 수정</a>
                            <a class="dropdown-item" href="#">삭제</a>
                        </div>
                    </div>
                </div>
                <h4 class="mb-1">
                    <span class="date">2001-01-01 ~ 2002-02-02</span>
                </h4>
                <p class="text-light">[계약직] [(주)동아지질 김포파주고속도로 쉴드 TBM 터널현장 근로자 모집</p>

            </div>

        </div>
    </div>
    <!--/.col-->

    <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-flat-color-1">
            <div class="card-body pb-0">
                <div class="dropdown float-right">
                    <button class="btn bg-transparent dropdown-toggle theme-toggle text-light" type="button"
                        id="dropdownMenuButton1" data-toggle="dropdown">
                        <i class="fa fa-cog"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <div class="dropdown-menu-content">
                            <a class="dropdown-item" href="#">공고 수정</a>
                            <a class="dropdown-item" href="#">삭제</a>
                        </div>
                    </div>
                </div>
                <h4 class="mb-1">
                    <span class="date">2001-01-01 ~ 2002-02-02</span>
                </h4>
                <p class="text-light">[정규직] 동아지질 신입사원 채용</p>

            </div>

        </div>
    </div>
    <!--/.col-->

    <!-- 공통 스크립트-->
    <th:block th:replace="/fragments/script :: scriptFragment"></th:block>
</body>

</html>