<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- 공통 헤드-->
<th:block th:replace="/fragments/head :: headFragment"></th:block>

<style>

</style>

<body>
    <!-- 공통 Nav -->
    <th:block th:replace="/fragments/top :: topbarFragment"></th:block>

    <!-- content -->
    <div class="container my-5">
        <div class="row p-5">
            <div class="col text-left">
                <h4 class="headline">[정규직] 동아지질 신입사원 채용공고</h4>
            </div>
            <div class="row-sm-12 mt-3">
                <div class="col-sm mx-3 mb-5">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/user_info">기본정보</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/edu_info">학력사항</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/career_info">경력사항</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cert_info">외국어/자격사항</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/act_info">활동사항</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/survey_info">자기소개</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/app_post">지원서 제출</a>
                        </li>
                    </ul>
                </div>
                <!-- 활동사항 탭-->
                <div class="tab-content mx-5 my-4" id="myTabContent">
                    <!-- 경험/활동/교육 -->
                    <div class="row-sm-12 mx-2 table_margin">
                        <div class="row mx-2">
                            <div class="col-sm-6 p-0">
                                <h4 class="subtitle mb-1"><span class="marking">&nbsp;
                                    </span>경험/활동/교육</h4>
                            </div>
                            <div class="col-sm-6 text-end p-0">
                                <p class="mb-1"><span class="marking">&#42; </span>필수입력항목</p>
                            </div>
                        </div>
                        <!-- 추가 테이블 -->
                        <form name="infoActForm" id="infoActForm">
                            <div class="addTableAct">
                                <table class="table mb-3">
                                    <tbody>
                                        <tr>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>활동명</th>
                                            <td class="table-light" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <input type="text" class="form-control" id="act_name"
                                                            name="act_name" th:value="${actInfo.actName}">
                                                    </div>
                                                </div>
                                            </td>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>기간</th>
                                            <td class="table-light style_width" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="input-group dateMonth">
                                                            <input type="text" class="form-control"
                                                                aria-label="mil_start_date" id="act_start_date"
                                                                name="act_start_date"
                                                                th:value="${actInfo.actStartDate}">
                                                            <span class="input-group-text">~</span>
                                                            <input type="text" class="form-control"
                                                                aria-label="mil_end_date" id="act_end_date"
                                                                name="act_end_date" th:value="${actInfo.actEndDate}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>분야</th>
                                            <td class="table-light" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <select class="form-select" id="act_fd" name="act_fd">
                                                            <option th:if="${actInfo.ActFd==null}" selected disabled
                                                                hidden>
                                                                선택</option>
                                                            <option th:unless="${actInfo.ActFd==null}" selected
                                                                th:value="${actInfo.ActFd}" th:text="${actInfo.ActFd}">
                                                        </select>
                                                    </div>
                                                </div>
                                            </td>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>주관기관</th>
                                            <td class="table-light" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <input type="text" class="form-control" name="act_conduct"
                                                            id="act_conduct" th:value="${actInfo.actConduct}">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>활동내용</th>
                                            <td class="table-light" colspan="3">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <input type="text" class="form-control" name="act_content"
                                                            id="act_content" th:value="${actInfo.actContent}">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- 초기화/삭제 -->
                                <div class="row justify-content-sm-end">
                                    <div class="col-sm-auto">
                                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                                            <button type="button" class="btn btn-outline-primary btncolor"
                                                id="btncolor">초기화</button>
                                            <button type="button" class="btn btn-outline-primary btncolor"
                                                id="btncolor">삭제</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- 초기화/삭제 end -->
                                <hr>
                            </div>
                            <!-- 추가 테이블 end-->
                        </form>
                        <div id="actWrap"></div>
                        <!-- 추가 버튼 -->
                        <div class="row mb-5">
                            <div class="col">
                                <button type="button" id="addbtn_act" class="btn btn-dark"
                                    style="width: 100%;">추가</button>
                            </div>
                        </div>
                    </div>
                    <!-- 경험/활동/교육 end -->
                    <!-- 수상내역 -->
                    <div class="row-sm-12 mx-2 table_margin">
                        <div class="row mx-2">
                            <div class="col-sm-6 p-0">
                                <h4 class="subtitle mb-1"><span class="marking">&nbsp;
                                    </span>수상내역</h4>
                            </div>
                            <div class="col-sm-6 text-end p-0">
                                <p class="mb-1"><span class="marking">&#42; </span>필수입력항목</p>
                            </div>
                        </div>
                        <!-- 추가 테이블 -->
                        <form name="infoAwdForm" id="infoAwdForm">
                            <div class="addTableAwd">
                                <table class="table mb-3">
                                    <tbody>
                                        <tr>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>수상명</th>
                                            <td class="table-light" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <input type="text" class="form-control" name="awd_name"
                                                            id="awd_name" th:value="${awdInfo.awdName}">
                                                    </div>
                                                </div>
                                            </td>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>수상일</th>
                                            <td class="table-light style_width" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <input type="text" class="form-control date" name="awd_date"
                                                            id="awd_date" th:value="${awdInfo.awdDate}">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>수상기관</th>
                                            <td class="table-light" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <input type="text" class="form-control" name="awd_conduct"
                                                            id="awd_conduct" th:value="${awdInfo.awdConduct}">
                                                    </div>
                                                </div>
                                            </td>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>수상내역</th>
                                            <td class="table-light" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <input type="text" class="form-control" name="awd_content"
                                                            id="awd_content" th:value="${awdInfo.awdContent}">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- 초기화/삭제 -->
                                <div class="row justify-content-sm-end">
                                    <div class="col-sm-auto">
                                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                                            <button type="button" class="btn btn-outline-primary btncolor"
                                                id="resetBtn">초기화</button>
                                            <button type="button" class="btn btn-outline-primary btncolor"
                                                id="deleteBtn">삭제</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- 초기화/삭제 end -->
                                <hr>
                            </div>
                            <!-- 추가 테이블 end-->
                        </form>
                        <div id="awdWrap"></div>
                        <!-- 추가 버튼 -->
                        <div class="row mb-5">
                            <div class="col">
                                <button type="button" id="addbtn_awd" class="btn btn-dark"
                                    style="width: 100%;">추가</button>
                            </div>
                        </div>
                    </div>
                    <!-- 수상내역 end -->
                    <!-- 학력사항 탭 end-->
                </div>
            </div>
            <!-- 버튼 -->
            <div class="col mb-5 text-center">
                <button type="button" class="btn btn-secondary btn-lg mx-2" id="prev_btn">이전</button>
                <button type="button" class="btn btn-secondary btn-lg mx-2" id="next_btn">다음</button>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            selectOpt("act_fd", "ACT_FD");
        });

        $(function () {

            var wrap = $('.addTableAct').wrapAll("<div/>");
            var tmpl = wrap.parent().html();
            $("#addbtn_act").click(function () {
                $("#actWrap").append(tmpl);
            });

            var wrap2 = $('.addTableAwd').wrapAll("<div/>");
            var tmpl2 = wrap2.parent().html();
            $("#addbtn_awd").click(function () {
                $("#awdWrap").append(tmpl2);
            });

        });
    </script>
    <script th:inline="javascript">
        $("#next_btn").on("click", function (e) {
            /*<![CDATA[*/
            var formNo = [[${ actInfo.formNo }]];
            var appNo = [[${ app_no }]];

            var infoActForm = $("#infoActForm").serialize();
            var infoAwdForm = $("#infoAwdForm").serialize();

            console.log(formNo + "&" + infoActForm + "&" + infoAwdForm);

            //1. controller-> save -> return url
            //2. rest controller-> save -> return "url"value -> location.href
            $.ajax({
                method: "POST",
                url: "/infoAct?form_no=" + formNo + "&" + infoActForm + "&" + infoAwdForm
            })
                .done(function (data) {
                    location.href = "/survey_info?app_no=" + appNo +  "&form_no=" + data;
                })
                .fail(function (data, textStatus, errorThrown) {
                    alert("실패")
                    callback(data);
                });
        });
        /*]]>*/
    </script>
    <!-- 공통 스크립트-->
    <th:block th:replace="/fragments/script :: scriptFragment"></th:block>
</body>

</html>