<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- 공통 헤드-->
<th:block th:replace="/fragments/head :: headFragment"></th:block>

<!-- Custom Stylesheets -->
<link rel="stylesheet" href="css/form/form.css">

<!-- 공통 Nav -->
<th:block th:replace="/fragments/top :: topbarFragment"></th:block>

<body>
    <!-- content -->
    <div class="container my-5">
        <div class="row p-5">
            <div class="col text-left">
                <h4 class="headline" th:text="${appBoard.appTitle}"></h4>
            </div>
            <div class="row-sm-12 mt-3">
                <div class="col-sm mx-3 mb-5">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/user_info(form_no=${form_no})}">기본정보</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/edu_info">학력사항</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/career_info">경력사항</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cert_info">외국어/자격사항</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/act_info">활동사항</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/surv_info">자기소개</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/app_post">지원서 제출</a>
                        </li>
                    </ul>
                </div>
                <!-- 활동사항 탭-->
                <div class="tab-content mx-5 my-4" id="myTabContent">
                    <!-- 경험/활동/교육 -->
                    <div class="row-sm-12 mx-2 table_margin">
                        <div class="row mx-2">
                            <div class="col-sm-6 p-0">
                                <h4 class="subtitle mb-1"><span class="marking">&nbsp;
                                    </span>경험/활동/교육</h4>
                            </div>
                            <div class="col-sm-6 text-end p-0">
                                <p class="mb-1"><span class="marking">&#42; </span>필수입력항목</p>
                            </div>
                        </div>
                        <!-- 추가 테이블 -->
                        <div class="addTableAct" th:each="InfoActDTO : ${actInfo}">
                            <form name="infoActForm" id="infoActForm">
                                <input type="hidden" id="form_no" name="form_no" th:value="${form_no}">
                                <input type="hidden" id="act_seq" name="act_seq" th:value="${InfoActDTO.actSeq}">
                                <table class="table mb-3">
                                    <tbody>
                                        <tr>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>활동명</th>
                                            <td class="table-light style_width" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <input type="text" class="form-control" name="act_name"
                                                            th:value="${InfoActDTO.actName}">
                                                    </div>
                                                </div>
                                            </td>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>기간</th>
                                            <td class="table-light style_width" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="input-group dateMonth">
                                                            <input type="text" class="form-control"
                                                                aria-label="mil_start_date" id="act_start_date"
                                                                name="act_start_date"
                                                                th:value="${InfoActDTO.actStartDate}">
                                                            <span class="input-group-text">~</span>
                                                            <input type="text" class="form-control"
                                                                aria-label="mil_end_date" id="act_end_date"
                                                                name="act_end_date" th:value="${InfoActDTO.actEndDate}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>분야</th>
                                            <td class="table-light" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <select class="form-select act_fd" name="act_fd">
                                                            <option></option>
                                                            <option th:unless="${InfoActDTO.ActFd==null}" selected
                                                                th:value="${InfoActDTO.ActFd}"
                                                                th:text="${InfoActDTO.ActFd}">
                                                        </select>
                                                    </div>
                                                </div>
                                            </td>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>주관기관</th>
                                            <td class="table-light" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <input type="text" class="form-control" name="act_conduct"
                                                            th:value="${InfoActDTO.actConduct}">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>활동내용</th>
                                            <td class="table-light" colspan="3">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <input type="text" class="form-control" name="act_content"
                                                            th:value="${InfoActDTO.actContent}">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- 초기화/삭제 -->
                                <div class="row justify-content-sm-end">
                                    <div class="col-sm-auto">
                                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                                            <button type="button" class="btn btn-outline-primary btncolor"
                                                id="resetBtn">초기화</button>
                                            <button type="button" class="btn btn-outline-primary btncolor"
                                                id="deleteBtn">삭제</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- 초기화/삭제 end -->
                                <hr>
                                <!-- 추가 테이블 end-->
                            </form>
                        </div>
                        <div id="actWrap"></div>
                        <!-- 추가 버튼 -->
                        <div class="row mb-5">
                            <div class="col">
                                <button type="button" id="addbtn_act" class="btn btn-dark"
                                    style="width: 100%;">추가</button>
                            </div>
                        </div>
                    </div>
                    <!-- 경험/활동/교육 end -->
                    <!-- 수상내역 -->
                    <div class="row-sm-12 mx-2 table_margin">
                        <div class="row mx-2">
                            <div class="col-sm-6 p-0">
                                <h4 class="subtitle mb-1"><span class="marking">&nbsp;
                                    </span>수상내역</h4>
                            </div>
                            <div class="col-sm-6 text-end p-0">
                                <p class="mb-1"><span class="marking">&#42; </span>필수입력항목</p>
                            </div>
                        </div>
                        <!-- 추가 테이블 -->
                        <div class="addTableAwd" th:each="InfoAwdDTO : ${awdInfo}">
                            <form name="infoAwdForm" id="infoAwdForm">
                                <input type="hidden" id="form_no" name="form_no" th:value="${form_no}">
                                <input type="hidden" id="awd_seq" name="awd_seq" th:value="${InfoAwdDTO.awdSeq}">
                                <table class="table mb-3">
                                    <tbody>
                                        <tr>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>수상명</th>
                                            <td class="table-light style_width" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <input type="text" class="form-control" name="awd_name"
                                                            th:value="${InfoAwdDTO.awdName}">
                                                    </div>
                                                </div>
                                            </td>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>수상일</th>
                                            <td class="table-light style_width" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <input type="text" class="form-control date" name="awd_date"
                                                            id="awd_date" th:value="${InfoAwdDTO.awdDate}">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>수상기관</th>
                                            <td class="table-light" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <input type="text" class="form-control" name="awd_conduct"
                                                            th:value="${InfoAwdDTO.awdConduct}">
                                                    </div>
                                                </div>
                                            </td>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>수상내역</th>
                                            <td class="table-light" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <input type="text" class="form-control" name="awd_content"
                                                            th:value="${InfoAwdDTO.awdContent}">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- 초기화/삭제 -->
                                <div class="row justify-content-sm-end">
                                    <div class="col-sm-auto">
                                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                                            <button type="button" class="btn btn-outline-primary btncolor"
                                                id="resetBtn">초기화</button>
                                            <button type="button" class="btn btn-outline-primary btncolor"
                                                id="deleteBtn">삭제</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- 초기화/삭제 end -->
                                <hr>
                                <!-- 추가 테이블 end-->
                            </form>
                        </div>
                        <div id="awdWrap"></div>
                        <!-- 추가 버튼 -->
                        <div class="row mb-5">
                            <div class="col">
                                <button type="button" id="addbtn_awd" class="btn btn-dark"
                                    style="width: 100%;">추가</button>
                            </div>
                        </div>
                    </div>
                    <!-- 수상내역 end -->
                    <!-- 학력사항 탭 end-->
                </div>
            </div>
            <!-- 버튼 -->
            <div class="col mb-5 text-center">
                <button type="button" class="btn btn-secondary btn-lg mx-2" id="prev_btn">이전</button>
                <button type="button" class="btn btn-secondary btn-lg mx-2" id="next_btn">다음</button>
                <button type="button" class="btn btn-secondary btn-lg mx-2" id="tempSave_btn">임시저장</button>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            selectOpt("act_fd", "ACT_FD");
        });

        var actSeqValue = $('#act_seq').first().val().trim();
        var awdSeqValue = $('#awd_seq').first().val().trim();

        if (!actSeqValue || actSeqValue !== '1') {
            $('#act_seq').val('1');
        }
        if (!awdSeqValue || awdSeqValue !== '1') {
            $('#awd_seq').val('1');
        }

        $("#next_btn, #tempSave_btn, #prev_btn, li.nav-item").on("click", function (e) {

            e.preventDefault();

            var href = '';
            var forms = $('form');
            var totalForms = forms.length;
            var count = 0;

            if ($(this).attr('id') === "next_btn") {
                href = "/surv_info";
            } else if ($(this).attr('id') === "prev_btn") {
                href = "/cert_info";
            } else if ($(this).attr('id') === "tempSave_btn") {
                href = '';
            } else {
                href = $(this).find('a').attr('href');
            }

            forms.each(function (i, form) {
                var formData = $(form).serialize();

                $.ajax({
                    method: "POST",
                    url: "/infoAct?" + formData
                })
                    .done(function (data) {
                        count++;
                        if (count === totalForms) {
                            if (href == '') {
                                alert("저장되었습니다.");
                            }
                            location.href = href;
                        }
                    })
                    .fail(function (data, textStatus, errorThrown) {
                        alert("실패");
                        callback(data);
                    });
            });

        });
    </script>
    <!-- 공통 스크립트-->
    <th:block th:replace="/fragments/script :: scriptFragment"></th:block>
</body>

</html>