<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- 공통 헤드-->
<th:block th:replace="/fragments/head :: headFragment"></th:block>

<style>

</style>

<body>
    <!-- 공통 Nav -->
    <th:block th:replace="/fragments/top :: topbarFragment"></th:block>

    <!-- content -->
    <div class="container my-5">
        <div class="row p-5">
            <div class="col text-left">
                <h4 class="headline">[정규직] 동아지질 신입사원 채용공고</h4>
            </div>
            <div class="row-sm-12 mt-3">
                <div class="col-sm mx-3 mb-5">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="/user_info">기본정보</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/edu_info">학력사항</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/career_info">경력사항</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cert_info">외국어/자격사항</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/act_info">활동사항</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/survey_info">자기소개</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/app_post">지원서 제출</a>
                        </li>
                    </ul>
                </div>
                <!-- 지원서제출 탭-->
                <div class="tab-content mx-5 my-4" id="myTabContent">
                    <div class="row-sm-12 mx-2 table_margin">
                        <div class="row mx-2">
                            <div class="col-sm-6 p-0">
                                <h4 class="subtitle m-0"><span class="marking">&nbsp;
                                    </span>지원서 제출</h4>
                            </div>
                        </div>
                        <hr>
                        <div class="row mx-3">
                            <div class="col text-end"><img src="images/dgmark.png" style="width: 90%; height: 90%; opacity: 60%;">
                            </div>
                            <div class="col-sm-auto">
                                <div class="row mt-3">
                                    <em style="font-weight: bold;">입사지원상의 모든 기재사항이 사실과 다름이 없으며‚ <br>합격 후 또는 입사후에라도 허위 기재 사실이 확인되어<br> 불합격 또는 입사가
                                        취소되더라도
                                        이의를 제기하지 않을 것을 서약합니다.
                                    </em>
                                </div>
                                <div class="row my-3">
                                    <div class="col text-center">
                                        <button type="button" class="btn btn-dark m-1">미리보기</button>
                                        <button type="button" class="btn btn-primary m-1" id="app_submit">지원서
                                            제출</button>
                                        <button type="button" class="btn btn-danger m-1" id="app_delete">지원서 삭제</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col"></div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <!-- 버튼 -->
            <div class="col mb-5 text-center">
                <button type="button" class="btn btn-secondary btn-lg mx-2" id="btn"
                    onclick="location.href='/survey_info'">이전</button>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        $("#app_delete").on("click", function (e) {
            /*<![CDATA[*/
            var form_no = [[${ form_no }]];
          
            console.log(form_no);

            //1. controller-> save -> return url
            //2. rest controller-> save -> return "url"value -> location.href
            $.ajax({
                method: "POST",
                url: "/appPost?form_no=" + form_no
            })
                .done(function (msg) {
                    alert("suc");
                })
                .fail(function (data, textStatus, errorThrown) {
                    alert("실패")
                    callback(data);
                });
        });
        /*]]>*/
    </script>
    <!-- 공통 스크립트-->
    <th:block th:replace="/fragments/script :: scriptFragment"></th:block>
</body>

</html>