<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- 공통 헤드-->
<th:block th:replace="/fragments/head :: headFragment"></th:block>

<!-- 공통 Nav -->
<th:block th:replace="/fragments/top :: topbarFragment"></th:block>

<!-- content -->
<div class="container my-5">
    <div class="row p-5">
        <div class="col">
            <h4 class="headline">개인정보 제공 및 활용 동의서</h4>
        </div>
        <div class="row-sm-12">
            <form name="appUserRegister" id="appUserRegister">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-6">
                                <em>개인정보 수집동의 <b class="text-danger">(필수)</b></em>
                            </div>
                            <div class="col-6 text-end">
                                <a class="map" href="#chk01" data-bs-toggle="modal">약관보기</a>
                                <label id="agreeCheck01">
                                    <input type="radio" name="user_agree_1" id="agree_1" value="T">
                                    <label for='user_agree_1'> 동의 </label>
                                    </input>&nbsp
                                    <input type="radio" name="user_agree_1" id="agree_1N" value="F" checked="checked">
                                    <label for='user_agree_1'> 미동의 </label>
                                    </input>
                                </label>
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="chk01" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="chk01Label" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="chk01Label">개인정보 수집동의</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-secondary"
                                            data-bs-dismiss="modal">확인</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-6">
                                <em>민감정보 수집 및 이용목적 동의 <b class="text-danger">(필수)</b></em>
                            </div>
                            <div class="col-6 text-end">
                                <a class="map" href="#chk02" data-bs-toggle="modal">약관보기</a>
                                <label id="agreeCheck02">
                                    <input type="radio" name="user_agree_2" id="agree_2" value="T">
                                    <label for='user_agree_2'> 동의 </label>
                                    </input>&nbsp
                                    <input type="radio" name="user_agree_2" id="agree_2N" value="F" checked="checked">
                                    <label for='user_agree_2'> 미동의 </label>
                                    </input>
                                </label>
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="chk02" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="chk02Label" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="chk02Label">민감정보 수집 및 이용목적 동의</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-secondary"
                                            data-bs-dismiss="modal">확인</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-6">
                                <em>개인정보 제3자 제공에 관한 동의 <b class="text-danger">(필수)</b></em>
                            </div>
                            <div class="col-6 text-end">
                                <a class="map" href="#chk03" data-bs-toggle="modal">약관보기</a>
                                <label id="agreeCheck03">
                                    <input type="radio" name="user_agree_3" id="agree_3" value="T">
                                    <label for='user_agree_3'> 동의 </label>
                                    </input>&nbsp
                                    <input type="radio" name="user_agree_3" id="agree_3N" value="F" checked="checked">
                                    <label for='user_agree_3'> 미동의 </label>
                                    </input>
                                </label>
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="chk03" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="chk03Label" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="chk03Label">개인정보 제3자 제공에 관한 동의</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-secondary"
                                            data-bs-dismiss="modal">확인</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-6">
                                <em>채용결격 사유에 대한 동의 <b class="text-danger">(필수)</b></em>
                            </div>
                            <div class="col-6 text-end">
                                <a class="map" href="#chk04" data-bs-toggle="modal">약관보기</a>
                                <label id="agreeCheck04">
                                    <input type="radio" name="user_agree_4" id="agree_4" value="T">
                                    <label for='user_agree_4'> 동의 </label>
                                    </input>&nbsp
                                    <input type="radio" name="user_agree_4" id="agree_4N" value="F" checked="checked">
                                    <label for='user_agree_4'> 미동의 </label>
                                    </input>
                                </label>
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="chk04" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="chk04Label" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="chk04Label">채용결격 사유에 대한 동의</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-secondary"
                                            data-bs-dismiss="modal">확인</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-6">
                                <em>채용서류 반환 안내 <b class="text-danger">(필수)</b></em>
                            </div>
                            <div class="col-6 text-end">
                                <a class="map" href="#chk05" data-bs-toggle="modal">약관보기</a>
                                <label id="agreeCheck05">
                                    <input type="radio" name="user_agree_5" id="agree_5" value="T">
                                    <label for='user_agree_5'> 동의 </label>
                                    </input>&nbsp
                                    <input type="radio" name="user_agree_5" id="agree_5N" value="F" checked="checked">
                                    <label for='user_agree_5'> 미동의 </label>
                                    </input>
                                </label>
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="chk05" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="chk05Label" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="chk05Label">채용서류 반환 안내</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-secondary"
                                            data-bs-dismiss="modal">확인</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <table class="table">
                    <tbody>
                        <tr>
                            <th class="table-light" id="colname" scope="row" style="width: 150px;">채용공고</th>
                            <td class="table-light" colspan="3">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <span class="ps-2" th:text="${appBoard.appTitle}" style="font-weight: bold;">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="table-light" id="colname" scope="row">ID(이메일)</th>
                            <td class="table-light" colspan="3">
                                <div class="row">
                                    <div class="col-sm-5 pe-1">
                                        <div class="input-group">
                                            <input type="text" class="form-control" aria-label="email_id" id="email_id">
                                            <span class="input-group-text">@</span>
                                            <input type="text" class="form-control" aria-label="email_domain"
                                                id="email_domain" readonly>
                                            <input type="hidden" id="user_email" name="user_email">
                                        </div>
                                    </div>
                                    <div class="col-sm-3 ps-1">
                                        <select class="form-select" aria-label="emailSelection" id="emailSelection">
                                            <option selected="selected">선택</option>
                                            <option value="typing">직접입력</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4 ps-0">
                                        <button type="button" class="btn btn-dark">중복확인</button>
                                        <button type="button" class="btn btn-dark">인증메일발송</button>
                                    </div>
                                </div>
                                <div class="ref row-sm-12" style="font-weight: bold;">
                                    &nbsp;* 본인의 메일주소를 아이디로 입력해주시기 바랍니다. 입력된 아이디(메일)로 합격 결과가 발송됩니다.
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="table-light" id="colname" scope="row">이메일 인증번호</th>
                            <td class="table-light" colspan="3">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="emailAuthNum">
                                    </div>
                                    <div class="col-sm ps-0">
                                        <button type="button" class="btn btn-dark">확인</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="table-light" id="colname" scope="row">비밀번호</th>
                            <td class="table-light" colspan="3">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <input type="password" class="form-control" id="user_password"
                                            name="user_password">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="table-light" id="colname" scope="row">비밀번호 확인</th>
                            <td class="table-light" colspan="3">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <input type="password" class="form-control" id="user_password2"
                                            name="user_password2">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="table-light" id="colname" scope="row">성명</th>
                            <td class="table-light" colspan="3">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="user_name" name="user_name">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="table-light" id="colname" scope="row">생년월일</th>
                            <td class="table-light" colspan="3">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control datePicker" id="user_birth"
                                            name="user_birth">
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div class="col m-5 text-center">
            <button type="button" class="btn btn-secondary btn-lg mx-2 btn" id="prev_btn">취소</button>
            <button type="button" class="btn btn-secondary btn-lg mx-2 btn" id="next_btn">지원서 작성</button>
        </div>
    </div>
</div>

<!-- 공통 스크립트-->

<th:block th:replace="/fragments/script :: scriptFragment"></th:block>
<script>
    selectOpt("emailSelection", "EMAIL_DMN");

    var appUserRegister = $('#appUserRegister').serialize();
    console.log(appUserRegister);

    var emailIdInput = $('#email_id').val();
    var emailDomainInput = $('#email_domain').val();
    console.log(emailIdInput + emailDomainInput);
    var email_val = emailIdInput + "@" + emailDomainInput;

    var email = $('#user_email').val(email_val);

    $('.datePicker').datepicker({
        format: "yyyy-mm-dd",
        language: "kr",
        // viewMode: "years",
        // minViewMode: "years",
        autoclose: true
    });



    $("#prev_btn").on("click", function (e) {
        location.href = "/backpage";
    });
</script>

<script th:inline="javascript">

    $("#next_btn").on("click", function (e) {
        /*<![CDATA[*/
        var appNo = [[${ appBoard.appNo }]];

        var emailIdInput = $('#email_id').val();
        var emailDomainInput = $('#email_domain').val();

        var email_val = emailIdInput + "@" + emailDomainInput;
        var email = $('#user_email').val(email_val);
        var appUserRegister = $("#appUserRegister").serialize();

        //2. rest controller-> save -> return "url"value -> location.href
        $.ajax({
            method: "POST",
            url: "/appUser?app_no=" + appNo + "&" + appUserRegister
        })
            .done(function (data) {
                location.href = "/user_info?form_no=" + data;
            })
            .fail(function (data, textStatus, errorThrown) {
                alert("해당 공고에 등록된 이메일이 있습니다.")
                callback(data);
            });
    });
    /*]]>*/
</script>
</body>

</html>