<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- 공통 헤드-->
<th:block th:replace="/fragments/head :: headFragment"></th:block>

<style>

</style>

<body>
    <!-- 공통 Nav -->
    <th:block th:replace="/fragments/top :: topbarFragment"></th:block>

    <!-- content -->
    <div class="container my-5">
        <div class="row p-5">
            <div class="col text-left">
                <h4 class="headline">[정규직] 동아지질 신입사원 채용공고</h4>
            </div>
            <div class="row-sm-12 mt-3">
                <div class="col-sm mx-3 mb-5">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/user_info">기본정보</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/edu_info">학력사항</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/career_info">경력사항</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cert_info">외국어/자격사항</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/act_info">활동사항</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/survey_info">자기소개</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/app_post">지원서 제출</a>
                        </li>
                    </ul>
                </div>
                <!-- 경력사항 탭-->
                <div class="tab-content mx-5 my-4" id="myTabContent">
                    <!-- 경력사항 -->
                    <div class="row-sm-12 mx-2 table_margin">
                        <div class="row mx-2">
                            <div class="col-sm-6 p-0">
                                <h4 class="subtitle mb-1"><span class="marking">&nbsp;
                                    </span>경력사항</h4>
                            </div>
                            <div class="col-sm-6 text-end p-0">
                                <p class="mb-1"><span class="marking">&#42; </span>필수입력항목</p>
                            </div>
                        </div>
                        <!-- 추가 테이블 -->
                        <form name="infoCareerForm" id="infoCareerForm">
                            <div class="addTableCo">
                                <table class="table mb-3">
                                    <tbody>
                                        <tr>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>회사명</th>
                                            <td class="table-light" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <input type="text" class="form-control" name="co_name"
                                                            id="co_name" th:value="${careerInfo.coName}">
                                                    </div>
                                                </div>
                                            </td>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>근무기간</th>
                                            <td class="table-light style_width" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="input-group dateMonth">
                                                            <input type="text" class="form-control" id="co_start_date"
                                                                name="co_start_date"
                                                                th:value="${careerInfo.coStartDate}">
                                                            <span class="input-group-text">~</span>
                                                            <input type="text" class="form-control" id="co_end_date"
                                                                name="co_end_date" th:value="${careerInfo.coEndDate}">
                                                        </div>
                                                    </div>
                                                </div>

                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>업종·소재지</th>
                                            <td class="table-light" colspan="3">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" id="co_cls"
                                                            name="co_cls" th:value="${careerInfo.coCls}"
                                                            placeholder="업종">
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" id="co_loc"
                                                            name="co_loc" th:value="${careerInfo.coLoc}"
                                                            placeholder="소재지">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>고용형태</th>
                                            <td class="table-light" colspan="3">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <select class="form-select" id="co_form_emp" name="co_form_emp">
                                                            <option th:if="${careerInfo.coFormEmp==null}" selected
                                                                disabled hidden>
                                                                선택</option>
                                                            <option th:unless="${careerInfo.coFormEmp==null}" selected
                                                                th:value="${careerInfo.coFormEmp}"
                                                                th:text="${careerInfo.coFormEmp}">
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" id="co_salary"
                                                            name="co_salary" th:value="${careerInfo.coSalary}"
                                                            placeholder="연봉">
                                                    </div>
                                                    <div class="col-sm-auto p-0">
                                                        <span class="marking">
                                                        </span>만원
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>근무부서</th>
                                            <td class="table-light" colspan="3">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" id="co_dept"
                                                            name="co_dept" th:value="${careerInfo.coDept}"
                                                            placeholder="">
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" id="co_rank"
                                                            name="co_rank" th:value="${careerInfo.coRank}"
                                                            placeholder="직위">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>담당업무 및 &nbsp;&nbsp;&nbsp;주요성과</th>
                                            <td class="table-light" colspan="3">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <input type="text" class="form-control" id="co_work"
                                                            name="co_work" th:value="${careerInfo.coWork}">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>퇴직사유</th>
                                            <td class="table-light" colspan="3">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <input type="text" class="form-control" id="co_retire"
                                                            name="co_retire" th:value="${careerInfo.coRetire}">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- 초기화/삭제 -->
                                <div class="row justify-content-sm-end">
                                    <div class="col-sm-auto">
                                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                                            <button type="button" class="btn btn-outline-primary btncolor"
                                                id="resetBtn">초기화</button>
                                            <button type="button" class="btn btn-outline-primary btncolor"
                                                id="deleteBtn">삭제</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- 초기화/삭제 end -->
                                <hr>
                            </div>
                            <!-- 추가 테이블 end-->
                        </form>
                        <div id="coWrap">
                        </div>
                        <!-- 추가 버튼 -->
                        <div class="row mb-5">
                            <div class="col">
                                <button type="button" class="btn btn-dark" id="addbtn_co"
                                    style="width: 100%;">추가</button>
                            </div>
                        </div>
                    </div>
                    <!-- 경력사항 end-->
                    <!-- 프로젝트 -->
                    <div class="row-sm-12 mx-2 table_margin">
                        <div class="row mx-2">
                            <div class="col-sm-6 p-0">
                                <h4 class="subtitle mb-1"><span class="marking">&nbsp;
                                    </span>프로젝트</h4>
                            </div>
                            <div class="col-sm-6 text-end p-0">
                                <p class="mb-1"><span class="marking">&#42; </span>필수입력항목</p>
                            </div>
                        </div>
                        <!-- 추가 테이블-->
                        <form name="infoProjectForm" id="infoProjectForm">
                            <div class="addTablePro">
                                <table class="table mb-3">
                                    <tbody>
                                        <tr>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>프로젝트명</th>
                                            <td class="table-light" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <input type="text" class="form-control" id="proj_name"
                                                            name="proj_name" th:value="${projectInfo.projName}">
                                                    </div>
                                                </div>
                                            </td>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>참여기간</th>
                                            <td class="table-light style_width" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="input-group dateMonth">
                                                            <input type="text" class="form-control" id="proj_start_date"
                                                                name="proj_start_date"
                                                                th:value="${projectInfo.projStartDate}">
                                                            <span class="input-group-text">~</span>
                                                            <input type="text" class="form-control"
                                                                aria-label="mil_end_date" id="proj_end_date"
                                                                name="proj_end_date"
                                                                th:value="${projectInfo.projEndDate}">
                                                        </div>
                                                    </div>
                                                </div>

                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>발주처</th>
                                            <td class="table-light" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <input type="text" class="form-control" id="proj_order"
                                                            name="proj_order" th:value="${projectInfo.projOrder}">
                                                    </div>
                                                </div>
                                            </td>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>근무지역</th>
                                            <td class="table-light" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <input type="text" class="form-control" id="proj_loc"
                                                            name="proj_loc" th:value="${projectInfo.projLoc}">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>담당업무 및 &nbsp;&nbsp;&nbsp;내용</th>
                                            <td class="table-light" colspan="3">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <input type="text" class="form-control" id="proj_work"
                                                            name="proj_work" th:value="${projectInfo.projWork}">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- 초기화/삭제 -->
                                <div class="row justify-content-sm-end">
                                    <div class="col-sm-auto">
                                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                                            <button type="button" class="btn btn-outline-primary btncolor"
                                                id="resetBtn">초기화</button>
                                            <button type="button" class="btn btn-outline-primary btncolor"
                                                id="deleteBtn">삭제</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- 초기화/삭제 end -->
                                <hr>
                            </div>
                            <!-- 추가 테이블 end-->
                        </form>
                        <div id="proWrap">
                        </div>
                        <!-- 추가 버튼 -->
                        <div class="row mb-5">
                            <div class="col">
                                <button type="button" class="btn btn-dark" id="addbtn_pro"
                                    style="width: 100%;">추가</button>
                            </div>
                        </div>
                    </div>
                    <!-- 프로젝트 end -->
                    <!-- 경력사항 탭 end-->
                </div>
            </div>
            <!-- 버튼 -->
            <div class="col mb-5 text-center">
                <button type="button" class="btn btn-secondary btn-lg mx-2" id="prev_btn">이전</button>
                <button type="button" class="btn btn-secondary btn-lg mx-2" id="next_btn">다음</button>
            </div>
        </div>
    </div>

    <!-- 공통 스크립트-->
    <th:block th:replace="/fragments/script :: scriptFragment"></th:block>
    <script>
        $(function () {
            selectOpt("co_form_emp", "FORM_EMP");
        });

        $(function () {

            var wrap = $('.addTableCo').wrapAll("<div/>");
            var tmpl = wrap.parent().html();
            $("#addbtn_co").click(function () {
                $("#coWrap").append(tmpl);
            });

            var wrap2 = $('.addTablePro').wrapAll("<div/>");
            var tmpl2 = wrap2.parent().html();
            $("#addbtn_pro").click(function () {
                $("#proWrap").append(tmpl2);
            });

        });
    </script>
    <script th:inline="javascript">

        $("#next_btn").on("click", function (e) {
            /*<![CDATA[*/
            var formNo = [[${ careerInfo.formNo }]];
            var infoCareerForm = $("#infoCareerForm").serialize();
            var infoProjectForm = $("#infoProjectForm").serialize();

            //1. controller-> save -> return url
            //2. rest controller-> save -> return "url"value -> location.href
            $.ajax({
                method: "POST",
                url: "/infoCareer?form_no=" + formNo + "&" + infoCareerForm + "&" + infoProjectForm 
            })
                .done(function (msg) {
                    alert("Data Saved: " + msg);
                })
                .fail(function (data, textStatus, errorThrown) {
                    alert("실패")
                    callback(data);
                });
        });
        /*]]>*/
    </script>
</body>

</html>