<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- 공통 헤드-->
<th:block th:replace="/fragments/head :: headFragment"></th:block>

<!-- Custom Stylesheets -->
<link rel="stylesheet" href="css/form/form.css">

<!-- 공통 Nav -->
<th:block th:replace="/fragments/top :: topbarFragment"></th:block>

<body>
    <!-- content -->
    <div class="container my-5">
        <div class="row p-5">
            <div class="col text-left">
                <h4 class="headline" th:text="${appBoard.appTitle}"></h4>
            </div>
            <div class="row-sm-12 mt-3">
                <div class="col-sm mx-3 mb-5">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/user_info(form_no=${form_no})}">기본정보</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/edu_info">학력사항</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/career_info">경력사항</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/cert_info">외국어/자격사항</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/act_info">활동사항</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/surv_info">자기소개</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/app_post">지원서 제출</a>
                        </li>
                    </ul>
                </div>
                <!-- 외국어/자격사항 탭-->
                <div class="tab-content mx-5 my-4" id="myTabContent">
                    <!-- 자격증 -->
                    <div class="row-sm-12 mx-2 table_margin">
                        <div class="row mx-2">
                            <div class="col-sm-6 p-0">
                                <h4 class="subtitle mb-1"><span class="marking">&nbsp;
                                    </span>자격증</h4>
                            </div>
                            <div class="col-sm-6 text-end p-0">
                                <p class="mb-1"><span class="marking">&#42; </span>필수입력항목</p>
                            </div>
                        </div>
                        <!-- 추가 테이블 -->
                        <div class="addTableCert" th:each="InfoCertDTO : ${certInfo}">
                            <form name="infoCertForm" id="infoCertForm">
                                <input type="hidden" id="form_no" name="form_no" th:value="${form_no}">
                                <input type="hidden" id="cert_seq" name="cert_seq" th:value="${InfoCertDTO.certSeq}">
                                <table class="table mb-3">
                                    <tbody>
                                        <tr>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>자격종류</th>
                                            <td class="table-light style_width" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <input type="text" class="form-control" name="cert_cls"
                                                            th:value="${InfoCertDTO.certCls}">
                                                    </div>
                                                </div>
                                            </td>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>등록번호</th>
                                            <td class="table-light style_width" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <input type="text" class="form-control" name="cert_num"
                                                            th:value="${InfoCertDTO.certNum}">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>발급기관</th>
                                            <td class="table-light" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <input type="text" class="form-control" name="cert_isu"
                                                            th:value="${InfoCertDTO.certIsu}">
                                                    </div>
                                                </div>
                                            </td>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>취득일자</th>
                                            <td class="table-light" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <input type="text" class="form-control date" name="cert_date"
                                                            id="cert_date" th:value="${InfoCertDTO.certDate}">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- 초기화/삭제 -->
                                <div class="row justify-content-sm-end">
                                    <div class="col-sm-auto">
                                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                                            <button type="button" class="btn btn-outline-primary btncolor"
                                                id="resetBtn">초기화</button>
                                            <button type="button" class="btn btn-outline-primary btncolor"
                                                id="deleteBtn">삭제</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- 초기화/삭제 end -->
                                <hr>
                                <!-- 추가 테이블 end-->
                            </form>
                        </div>
                        <div id="certWrap"></div>
                        <!-- 추가 버튼 -->
                        <div class="row mb-5">
                            <div class="col">
                                <button type="button" id="addbtn_cert" class="btn btn-dark"
                                    style="width: 100%;">추가</button>
                            </div>
                        </div>
                    </div>
                    <!-- 자격증 end -->
                    <!-- 외국어 활용능력 -->
                    <div class="row-sm-12 mx-2 table_margin">
                        <div class="row mx-2">
                            <div class="col-sm-6 p-0">
                                <h4 class="subtitle mb-1"><span class="marking">&nbsp;
                                    </span>외국어 활용능력</h4>
                            </div>
                            <div class="col-sm-6 text-end p-0">
                                <p class="mb-1"><span class="marking">&#42; </span>필수입력항목</p>
                            </div>
                        </div>
                        <!-- 추가 테이블 -->
                        <div class="addTableLang" th:each="InfoLangDTO : ${langInfo}">
                            <form name="infoLangForm" id="infoLangForm">
                                <input type="hidden" id="form_no" name="form_no" th:value="${form_no}">
                                <input type="hidden" id="lang_seq" name="lang_seq" th:value="${InfoLangDTO.langSeq}">
                                <table class="table mb-3">
                                    <tbody>
                                        <tr>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>언어</th>
                                            <td class="table-light style_width" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-6 pe-1">
                                                        <select class="form-select lang_name" name="lang_name">
                                                            <option></option>
                                                            <option th:if="${InfoLangDTO.langName!=null}" selected
                                                                th:value="${InfoLangDTO.langName}"
                                                                th:text="${InfoLangDTO.langName}">
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-6 ps-1">
                                                        <input type="text" class="form-control" name="lang_name"
                                                            th:value="${InfoLangDTO.langName}" placeholder="기타 선택 시"
                                                            th:disabled="${InfoLangDTO.langName != '기타'}">
                                                    </div>
                                                </div>
                                            </td>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>수준</th>
                                            <td class="table-light style_width" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <select class="form-select lang_lv" name="lang_lv">
                                                            <option></option>
                                                            <option th:if="${InfoLangDTO.langLv!=null}" selected
                                                                th:value="${InfoLangDTO.langLv}"
                                                                th:text="${InfoLangDTO.langLv}">
                                                        </select>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- 초기화/삭제 -->
                                <div class="row justify-content-sm-end">
                                    <div class="col-sm-auto">
                                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                                            <button type="button" class="btn btn-outline-primary btncolor"
                                                id="resetBtn">초기화</button>
                                            <button type="button" class="btn btn-outline-primary btncolor"
                                                id="deleteBtn">삭제</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- 초기화/삭제 end -->
                                <hr>
                                <!-- 추가 테이블 end-->
                            </form>
                        </div>
                        <div id="langWrap"></div>
                        <!-- 추가 버튼 -->
                        <div class="row mb-5">
                            <div class="col">
                                <button type="button" id="addbtn_lang" class="btn btn-dark"
                                    style="width: 100%;">추가</button>
                            </div>
                        </div>
                    </div>
                    <!-- 외국어 활용능력 end -->

                    <!-- IT활용능력 -->
                    <div class="row-sm-12 mx-2 table_margin">
                        <div class="row mx-2">
                            <div class="col-sm-6 p-0">
                                <h4 class="subtitle mb-1"><span class="marking">&nbsp;
                                    </span>IT 활용능력</h4>
                            </div>
                            <div class="col-sm-6 text-end p-0">
                                <p class="mb-1"><span class="marking">&#42; </span>필수입력항목</p>
                            </div>
                        </div>
                        <!-- 추가 테이블 -->
                        <div class="addTableOa" th:each="InfoOaDTO : ${oaInfo}">
                            <form name="infoOaForm" id="infoOaForm">
                                <input type="hidden" id="form_no" name="form_no" th:value="${form_no}">
                                <input type="hidden" id="oa_seq" name="oa_seq" th:value="${InfoOaDTO.oaSeq}">
                                <table class="table mb-3">
                                    <tbody>
                                        <tr>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>IT활용종류</th>
                                            <td class="table-light style_width" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-6 pe-1">
                                                        <select class="form-select oa_name" name="oa_name">
                                                            <option></option>
                                                            <option th:if="${InfoOaDTO.oaName!=null}" selected
                                                                th:value="${InfoOaDTO.oaName}"
                                                                th:text="${InfoOaDTO.oaName}">
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-6 ps-1">
                                                        <input type="text" class="form-control" name="oa_name"
                                                            th:value="${InfoOaDTO.oaName}" placeholder="기타 선택 시"
                                                            th:disabled="${InfoOaDTO.oaName != '기타'}">
                                                    </div>
                                                </div>
                                            </td>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>수준</th>
                                            <td class="table-light style_width" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <select class="form-select oa_lv" name="oa_lv">
                                                            <option></option>
                                                            <option th:if="${InfoOaDTO.oaLv!=null}" selected
                                                                th:value="${InfoOaDTO.oaLv}"
                                                                th:text="${InfoOaDTO.oaLv}">
                                                        </select>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- 초기화/삭제 -->
                                <div class="row justify-content-sm-end">
                                    <div class="col-sm-auto">
                                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                                            <button type="button" class="btn btn-outline-primary btncolor"
                                                id="resetBtn">초기화</button>
                                            <button type="button" class="btn btn-outline-primary btncolor"
                                                id="deleteBtn">삭제</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- 초기화/삭제 end -->
                                <hr>
                                <!-- 추가 테이블 end-->
                            </form>
                        </div>
                        <div id="oaWrap"></div>
                        <!-- 추가 버튼 -->
                        <div class="row mb-5">
                            <div class="col">
                                <button type="button" id="addbtn_it" class="btn btn-dark"
                                    style="width: 100%;">추가</button>
                            </div>
                        </div>
                    </div>
                    <!-- IT활용능력 end -->
                    <!-- 학력사항 탭 end-->
                </div>
            </div>
            <!-- 버튼 -->
            <div class="col mb-5 text-center">
                <button type="button" class="btn btn-secondary btn-lg mx-2" id="prev_btn">이전</button>
                <button type="button" class="btn btn-secondary btn-lg mx-2" id="next_btn">다음</button>
                <button type="button" class="btn btn-secondary btn-lg mx-2" id="tempSave_btn">임시저장</button>
            </div>
        </div>
    </div>

    <!-- 공통 스크립트-->
    <th:block th:replace="/fragments/script :: scriptFragment"></th:block>
    <script>
        $(function () {
            selectOpt("lang_name", "FOR_LANG");
            selectOpt("lang_lv", "LV");
            selectOpt("oa_name", "OA_APP");
            selectOpt("oa_lv", "LV");

        });

        var certSeqValue = $('#cert_seq').first().val().trim();
        var langSeqValue = $('#lang_seq').first().val().trim();
        var oaSeqValue = $('#oa_seq').first().val().trim();

        if (!certSeqValue || certSeqValue !== '1') {
            $('#cert_seq').val('1');
        }
        if (!langSeqValue || langSeqValue !== '1') {
            $('#lang_seq').val('1');
        }
        if (!oaSeqValue || oaSeqValue !== '1') {
            $('#oa_seq').val('1');
        }

        $("#next_btn, #tempSave_btn, #prev_btn, li.nav-item").on("click", function (e) {

            e.preventDefault();

            var href = '';
            var forms = $('form');
            var totalForms = forms.length;
            var count = 0;

            if ($(this).attr('id') === "next_btn") {
                href = "/act_info";
            } else if ($(this).attr('id') === "prev_btn") {
                href = "/career_info";
            } else if ($(this).attr('id') === "tempSave_btn") {
                href = '';
            } else {
                href = $(this).find('a').attr('href');
            }

            forms.each(function (i, form) {
                var formData = $(form).serialize();

                $.ajax({
                    method: "POST",
                    url: "/infoCert?" + formData
                })
                    .done(function (data) {
                        count++;
                        if (count === totalForms) {
                            if (href == '') {
                                alert("저장되었습니다.");
                            }
                            location.href = href;
                        }
                    })
                    .fail(function (data, textStatus, errorThrown) {
                        alert("실패");
                        callback(data);
                    });
            });

        });
    </script>
</body>

</html>