<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- 공통 헤드-->
<th:block th:replace="/fragments/head :: headFragment"></th:block>

<!-- Custom Stylesheets -->
<link rel="stylesheet" href="css/form/form.css">

<!-- 공통 Nav -->
<th:block th:replace="/fragments/top :: topbarFragment"></th:block>

<body>
    <!-- content -->
    <div class="container my-5">
        <div class="row p-5">
            <div class="col text-left">
                <h4 class="headline" th:text="${appBoard.appTitle}"></h4>
            </div>
            <div class="row-sm-12 mt-3">
                <div class="col-sm mx-3 mb-5">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/user_info(form_no=${form_no})}">기본정보</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/edu_info">학력사항</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/career_info">경력사항</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cert_info">외국어/자격사항</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/act_info">활동사항</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/surv_info">자기소개</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/app_post">지원서 제출</a>
                        </li>
                    </ul>
                </div>
                <!-- 학력사항 탭-->
                <div class="tab-content mx-5 my-4" id="myTabContent">
                    <!-- 고등학교 -->
                    <div class="row-sm-12 mx-2 table_margin">
                        <div class="row mx-2">
                            <div class="col-sm-6 p-0">
                                <h4 class="subtitle mb-1"><span class="marking">&#42;
                                    </span>고등학교</h4>
                            </div>
                            <div class="col-sm-6 text-end p-0">
                                <p class="mb-1"><span class="marking">&#42; </span>필수입력항목</p>
                            </div>
                        </div>
                        <hr class="mt-0">
                        <table class="table mb-5">
                            <tbody>
                                <form id="eduHighForm" name="eduHighForm">
                                    <div class="row mb-3 text-end">
                                        <label id="fn">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input fn" type="radio" name="fn" value="T"
                                                    th:checked="${eduHighInfo.highFn=='T'}">
                                                <label class="form-check-label" for="fn">최종학력여부</label>
                                                <input class="form-check-input fn" type="radio" name="fn" value="F"
                                                    style="display: none;"
                                                    th:checked="${eduHighInfo.highFn=='F' or eduHighInfo.highFn==null}">
                                            </div>
                                        </label>
                                    </div>
                                    <input type="hidden" id="form_no" name="form_no" th:value="${form_no}">
                                    <tr>
                                        <th class="table-light" scope="row"><span class="marking">&#42;
                                            </span>학교명
                                        </th>
                                        <td class="table-light style_width" colspan="1">
                                            <div class="row">
                                                <div class="col-sm-9 ps-3 pe-1">
                                                    <input type="text" class="form-control high_name" name="high_name"
                                                        th:value="${eduHighInfo.highName}" readonly>
                                                </div>
                                                <div class="col-sm-3 pe-0">
                                                    <button type="button" class="btn btn-dark" data-bs-toggle="modal"
                                                        data-bs-target="#searchHighModal">검색</button>
                                                </div>
                                            </div>
                                            <!-- 검색 모달 -->
                                            <div class="modal fade" id="searchHighModal" tabindex="-1"
                                                aria-labelledby="searchHighModal" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="searchHighModal">학교 검색</h1>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row">
                                                                <div class="col-sm-10 pe-0">
                                                                    <input type="text" class="form-control"
                                                                        id="searchHighName" placeholder="학교명을 입력하세요"
                                                                        onkeyup="if (event.key === 'Enter') enterkeySearch()">
                                                                </div>
                                                                <div class="col-sm-auto">
                                                                    <button type="button" class="btn btn-dark"
                                                                        onclick="enterkeySearch()">검색</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="searchBox mx-3 mb-3 text-center">
                                                            <div class="row mx-3 my-2 text-start">
                                                                <b id="searchResult" class="p-0">
                                                                </b>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <th class="table-light" scope="row"><span class="marking">&#42;
                                            </span>소재지</th>
                                        <td class="table-light style_width" colspan="1">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control" name="high_loc"
                                                        th:value="${eduHighInfo.highLoc}">
                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="table-light" scope="row"><span class="marking">&#42;
                                            </span>계열구분</th>
                                        <td class="table-light" colspan="1">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <select class="form-select high_ser" name="high_ser">
                                                        <option></option>
                                                        <option th:unless="${eduHighInfo.highSer==null}" selected
                                                            th:value="${eduHighInfo.highSer}"
                                                            th:text="${eduHighInfo.highSer}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                        <th class="table-light" scope="row"><span class="marking">&#42;
                                            </span>졸업구분</th>
                                        <td class="table-light" colspan="1">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <select class="form-select high_grd" name="high_grd">
                                                        <option></option>
                                                        <option th:unless="${eduHighInfo.highGrd==null}" selected
                                                            th:value="${eduHighInfo.highGrd}"
                                                            th:text="${eduHighInfo.highGrd}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="table-light" scope="row"><span class="marking">&#42;
                                            </span>재학기간</th>
                                        <td class="table-light" colspan="3">
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <div class="input-group dateMonth">
                                                        <input type="text" class="form-control" id="high_start_date"
                                                            name="high_start_date"
                                                            th:value="${eduHighInfo.highStartDate}">
                                                        <span class="input-group-text">~</span>
                                                        <input type="text" class="form-control" id="high_end_date"
                                                            name="high_end_date" th:value="${eduHighInfo.highEndDate}">
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </form>
                            </tbody>
                        </table>
                    </div>
                    <!-- 고등학교 end-->
                    <!-- 대학교 -->
                    <div class="row-sm-12 mx-2 table_margin">
                        <div class="row mx-2">
                            <div class="col-sm-6 p-0">
                                <h4 class="subtitle ms-3">대학교</h4>
                            </div>
                            <div class="col-sm-6 text-end p-0">
                                <p class="mb-0"><span class="marking">&#42; </span>필수입력항목</p>
                            </div>
                        </div>
                        <hr class="mt-0">
                        <!-- 추가 테이블 -->
                        <div class="addTable mb-3" th:each="eduUnivDto : ${eduUnivInfo}">
                            <form name="eduUnivForm" id="eduUnivForm">
                                <div class="row mb-3 text-end">
                                    <label id="fn">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input fn" type="radio" name="fn" value="T"
                                                th:checked="${eduUnivDto.univFn=='T'}">
                                            <label class="form-check-label" for="fn">최종학력여부</label>
                                            <input class="form-check-input fn" type="radio" name="fn" value="F"
                                                style="display: none;"
                                                th:checked="${eduUnivDto.univFn=='F' or eduUnivDto.univFn==null}">
                                        </div>
                                    </label>
                                </div>
                                <input type="hidden" id="form_no" name="form_no" th:value="${form_no}">
                                <input type="hidden" id="univ_seq" name="univ_seq" th:value="${eduUnivDto.univSeq}">
                                <table class="table mb-3">
                                    <tbody>
                                        <tr>
                                            <th class="table-light" scope="row"><span class="marking">&#42;
                                                </span>학력</th>
                                            <td class="table-light style_width" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <select class="form-select univ_edu" name="univ_edu">
                                                            <option></option>
                                                            <option th:unless="${eduUnivDto.univEdu==null}" selected
                                                                th:value="${eduUnivDto.univEdu}"
                                                                th:text="${eduUnivDto.univEdu}">
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </td>
                                            <th class="table-light" scope="row"><span class="marking">&#42;
                                                </span>학교명</th>
                                            <td class="table-light style_width" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-9 pe-0">
                                                        <input type="text" class="form-control univ_name"
                                                            name="univ_name" th:value="${eduUnivDto.univName}" readonly>
                                                    </div>
                                                    <div class="col-sm-auto">
                                                        <button type="button" class="btn btn-dark">검색</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="table-light" scope="row"><span class="marking">&#42;
                                                </span>소재지</th>
                                            <td class="table-light" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <input type="text" class="form-control" name="univ_loc"
                                                            th:value="${eduUnivDto.univLoc}">
                                                    </div>
                                                </div>
                                            </td>
                                            <th class="table-light" scope="row"><span class="marking">&#42;
                                                </span>본/분교</th>
                                            <td class="table-light style_width" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <select class="form-select univ_branch" name="univ_branch">
                                                            <option></option>
                                                            <option th:unless="${eduUnivDto.univBranch==null}" selected
                                                                th:value="${eduUnivDto.univBranch}"
                                                                th:text="${eduUnivDto.univBranch}">
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="table-light" scope="row"><span class="marking">&#42;
                                                </span>재학기간</th>
                                            <td class="table-light" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="input-group dateMonth">
                                                            <input type="text" class="form-control" id="univ_start_date"
                                                                name="univ_start_date"
                                                                th:value="${eduUnivDto.univStartDate}">
                                                            <span class="input-group-text">~</span>
                                                            <input type="text" class="form-control" id="univ_end_date"
                                                                name="univ_end_date"
                                                                th:value="${eduUnivDto.univEndDate}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <th class="table-light" scope="row"><span class="marking">&#42;
                                                </span>주야구분</th>
                                            <td class="table-light" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <select class="form-select univ_dn" name="univ_dn">
                                                            <option></option>
                                                            <option th:if="${eduUnivDto.univDn != null}" selected
                                                                th:value="${eduUnivDto.univDn}"
                                                                th:text="${eduUnivDto.univDn == 'D' ? '주간' : eduUnivDto.univDn == 'N' ? '야간' : eduUnivDto.univDn}">
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="table-light" scope="row"><span class="marking">&#42;
                                                </span>전공계열</th>
                                            <td class="table-light" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <select class="form-select univ_ser" name="univ_ser">
                                                            <option></option>
                                                            <option th:unless="${eduUnivDto.univSer==null}" selected
                                                                th:value="${eduUnivDto.univSer}"
                                                                th:text="${eduUnivDto.univSer}">
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </td>
                                            <th class="table-light" scope="row"><span class="marking">&#42;
                                                </span>취득학점</th>
                                            <td class="table-light" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" id="univ_crd"
                                                                name="univ_crd" th:value="${eduUnivDto.univCrd}"
                                                                placeholder="예) 3.0">
                                                            <span class="input-group-text">/</span>
                                                            <input type="text" class="form-control" id="univ_crd_max"
                                                                name="univ_crd_max" th:value="${eduUnivDto.univCrdMax}"
                                                                placeholder="예) 4.5">
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <th class="table-light" scope="row"><span class="marking">&#42;
                                                </span>주전공</th>
                                            <td class="table-light" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <select class="form-select univ_cls" name="univ_cls">
                                                            <option></option>
                                                            <option th:unless="${eduUnivDto.univCls==null}" selected
                                                                th:value="${eduUnivDto.univCls}"
                                                                th:text="${eduUnivDto.univCls}">
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </td>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>복수전공</th>
                                            <td class="table-light" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <select class="form-select univ_cls_mul" name="univ_cls_mul">
                                                            <option></option>
                                                            <option th:unless="${eduUnivDto.univClsMul==null}" selected
                                                                th:value="${eduUnivDto.univClsMul}"
                                                                th:text="${eduUnivDto.univClsMul}">
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="table-light" scope="row"><span class="marking">&nbsp;
                                                </span>부전공</th>
                                            <td class="table-light" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <select class="form-select univ_cls_sub" name="univ_cls_sub">
                                                            <option></option>
                                                            <option th:unless="${eduUnivDto.univClsSub==null}" selected
                                                                th:value="${eduUnivDto.univClsSub}"
                                                                th:text="${eduUnivDto.univClsSub}">
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </td>
                                            <th class="table-light" scope="row"><span class="marking">&#42;
                                                </span>졸업구분</th>
                                            <td class="table-light" colspan="1">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <select class="form-select univ_grd" name="univ_grd">
                                                            <option></option>
                                                            <option th:unless="${eduUnivDto.univGrd==null}" selected
                                                                th:value="${eduUnivDto.univGrd}"
                                                                th:text="${eduUnivDto.univGrd}">
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- 초기화/삭제 -->
                                <div class="row justify-content-sm-end">
                                    <div class="col-sm-auto">
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-outline-primary btncolor"
                                                id="resetBtn">초기화</button>
                                            <div th:if='${eduUnivDto.univSeq != null and eduUnivDto.univSeq != 1}'>
                                                <button type="button" class="btn btn-outline-primary btncolor"
                                                    id="deleteBtn">삭제</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 초기화/삭제 end -->
                                <hr>
                            </form>
                        </div>
                        <!-- 추가 테이블 end-->
                        <div class="boxWrap">
                        </div>
                        <!-- 추가 버튼 -->
                        <div class="row-sm-12">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-dark" style="width: 100%;"
                                    id="addbtn_univ">추가</button>
                            </div>
                        </div>
                    </div>
                    <!-- 대학교 end -->
                    <!-- 학력사항 탭 end-->
                </div>
            </div>
            <!-- 버튼 -->
            <div class="col mb-5 text-center">
                <button type="button" class="btn btn-secondary btn-lg mx-2" id="prev_btn">이전</button>
                <button type="button" class="btn btn-secondary btn-lg mx-2" id="next_btn">다음</button>
                <button type="button" class="btn btn-secondary btn-lg mx-2" id="tempSave_btn">임시저장</button>
            </div>
        </div>
    </div>

    <script>
        /* 셀렉트 옵션 */
        $(function () {
            selectOpt("high_ser", "HIGH_SER");
            selectOpt("high_grd", "GRDTN_CLS");
            selectOpt("univ_grd", "GRDTN_CLS");
            selectOpt("univ_edu", "UNIV_EDU");
            selectOpt("univ_ser", "UNIV_SER");
            selectOpt("univ_dn", "DIV_DN");
            selectOpt("univ_branch", "UNIV_BRANCH")
        });

        $('.fn').on('change', function () {
            var value = $(this).val(); // 변경된 라디오 버튼의 값
            $('.fn[value="F"]').prop('checked', true); // 기존에 "F"로 선택되어 있던 라디오 버튼을 선택
            $(this).prop('checked', value === "T"); // 변경된 라디오 버튼의 값이 "T"인 경우만 선택
        });


        /* 초기화 버튼 */
        $(document).on('click', '#resetBtn', function () {

            var selectedForm = $(this)
                .closest('.addTable')
                .find('form')
                .find('input:not(#univ_seq, #form_no), select')
                .val("")
                .trigger("change");
        })

        /* 대학교 추가 테이블 */
        var univSeqValue = $('#univ_seq').first().val().trim();

        if (!univSeqValue || univSeqValue !== '1') {
            $('#univ_seq').val('1');
        }

        /* 삭제 버튼 */
        $(document).on('click', '#deleteBtn', function () {

            var setSeq = $('form').last().serialize();

            $(this).closest('.addTable').remove();

            $('.addTable').each(function (index) {
                $(this).find('input[name="univ_seq"]').val(index + 1);
            });

            var forms = $('.addTable').find('form');
            var totalForms = forms.length;

            forms.each(function (i, form) {

                var formData = $(form).serialize();

                $.ajax({
                    method: "POST",
                    url: "/infoEdu?" + formData
                })
                    .done(function (data) {
                    })
                    .fail(function (data, textStatus, errorThrown) {
                        alert("실패");
                        callback(data);
                    });
            });

            $.ajax({
                method: "POST",
                url: "/infoEduDelete?" + setSeq
            })
                .done(function (data) {
                })
                .fail(function (data, textStatus, errorThrown) {
                    alert("실패");
                    callback(data);
                });
        });

        /* 저장 */
        $("#next_btn, #tempSave_btn, #prev_btn, li.nav-item").on("click", function (e) {

            e.preventDefault();

            var href = '';
            var forms = $('form');
            var totalForms = forms.length;
            var count = 0;

            if ($(this).attr('id') === "next_btn") {
                href = "/career_info";
            } else if ($(this).attr('id') === "prev_btn") {
                href = "/user_info?form_no=" + formNo;
            } else if ($(this).attr('id') === "tempSave_btn") {
                href = '';
            } else {
                href = $(this).find('a').attr('href');
            }


            forms.each(function (i, form) {
                var formData = $(form).serialize();

                $.ajax({
                    method: "POST",
                    url: "/infoEdu?" + formData
                })
                    .done(function (data) {
                        count++;
                        if (count === totalForms) {
                            if (href == '') {
                                alert("저장되었습니다.");
                            }
                            location.href = href;
                        }
                    })
                    .fail(function (data, textStatus, errorThrown) {
                        alert("실패");
                        callback(data);
                    });
            });

        });

        function enterkeySearch() {
            // 배열 생성
            var wordsArray = ["apple", "banana", "orange", "grape", "kiwi", "melon", '개성고', '경원고', '개성고', '동성고', '개금고', '동성고1', '동성고2', '동성고3', '동성고3', '동성고', '동성고', '동성고', '동성고', '동성고'];

            // 검색할 문자열
            var searchStr = document.getElementById('searchHighName').value;

            // 배열에서 부분 문자열이 포함된 단어 검색
            var foundWords = wordsArray.filter(function (word) {
                return word.includes(searchStr);
            });

            // 결과를 HTML에 표시
            var resultDiv = document.getElementById('searchResult');
            resultDiv.innerHTML = ''; // 결과를 초기화

            if (foundWords.length > 0) {
                // 각 결과를 하나씩 표시
                foundWords.forEach(function (word) {
                    var p = document.createElement('p');
                    p.textContent = word;
                    p.classList.add('searchResultItem'); // 클래스 추가
                    p.addEventListener('click', function () {
                        applyValue(word);
                    });
                    resultDiv.appendChild(p);
                });
            } else {
                // 결과가 없는 경우
                var p = document.createElement('p');
                p.textContent = "조회된 결과가 없습니다.";
                resultDiv.appendChild(p);
            }
        }

        // 클릭된 검색 결과를 .high_name에 적용하는 함수
        function applyValue(value) {
            // $('#high_name').value = value;
            $('.form-control.high_name').val(value);
            // 여기에서 원하는 추가 동작을 수행할 수 있습니다.
            // 예를 들어, 모달을 닫거나 특정 이벤트를 호출할 수 있습니다.
            $('#searchHighModal').modal('hide');
        }
    </script>

    <script th:inline="javascript">
        /* 동적 form 생성 */
        /*<![CDATA[*/
        var formCounter = 1;
        var formNo = [[${ form_no }]];

        $('#addbtn_univ').click(function () {

            formCounter++;

            var form = $('<form>', {
                name: 'eduUnivForm',
                id: 'eduUnivForm'
            });

            var addTable = $('<div>', {
                class: 'addTable mb-3'
            });

            var getFormNo = $('<input >', {
                type: 'hidden',
                name: 'form_no',
                id: 'form_no',
                value: formNo
            });

            var table = $('<table>', {
                class: 'table mb-3'
            });

            var tbody = $('<tbody>');

            var ths = ['학력', '학교명', '소재지', '본/분교', '재학기간', '주야구분', '전공계열', '취득학점', '주전공', '복수전공', '부전공', '졸업구분'];

            var ths_len = Math.ceil(ths.length / 2);

            // 반복문을 사용하여 th 요소들을 생성합니다.
            for (var i = 0; i < ths_len; i++) {

                var tr = $('<tr>');

                for (var j = 0; j < 2; j++) {

                    var index = i * 2 + j;

                    if (index < ths.length) {
                        if (ths[index] === '복수전공' || ths[index] === '부전공') {
                            var th = $('<th>', {
                                class: 'table-light',
                                scope: 'row',
                                html: '<span class="marking">&nbsp;</span >' + ths[index]
                            });
                        }
                        else {
                            var th = $('<th>', {
                                class: 'table-light',
                                scope: 'row',
                                html: '<span class="marking">&#42;</span>' + ths[index]
                            });
                        }
                    }

                    var td = $('<td>', {
                        class: 'table-light style_width',
                        colspan: '1'
                    });

                    var rowDiv = $('<div>', {
                        class: 'row'
                    });

                    var colDiv = $('<div>', {
                        class: 'col-sm-12'
                    });

                    var btnColDiv = $('<div>', {
                        class: 'col-sm-9 pe-0'
                    });

                    switch (ths[index]) {
                        case '학력':
                            var inputContent = $('<select>', {
                                class: 'form-select univ_edu',
                                name: 'univ_edu'
                            });
                            var option = $('<option>');
                            inputContent.append(option);
                            colDiv.append(inputContent);
                            break;
                        case '학교명':
                            var inputContent = $('<input>', {
                                type: 'text',
                                class: 'form-control univ_name',
                                name: 'univ_name'
                            });

                            var btnDiv = $('<div>', {
                                class: 'col-sm-auto'
                            });

                            var searchBtn = $('<button>', {
                                type: 'button',
                                class: 'btn btn-dark',
                                text: '검색'
                            });

                            btnDiv.append(searchBtn);
                            btnColDiv.append(inputContent);
                            rowDiv.append(btnColDiv, btnDiv);
                            break;
                        case '소재지':
                            var univ_loc = $('<input>', {
                                type: 'text',
                                class: 'form-control',
                                name: 'univ_loc',
                                id: 'univ_loc'
                            });
                            colDiv.append(univ_loc);
                            break;
                        case '본/분교':
                            var inputContent = $('<select>', {
                                class: 'form-select univ_branch',
                                name: 'univ_branch'
                            });
                            var option = $('<option>');
                            inputContent.append(option);
                            colDiv.append(inputContent);
                            break;
                        case '재학기간':
                            var inputGrp = $('<div>', {
                                class: 'input-group dateMonth'
                            });

                            var inputStartDate = $('<input>', {
                                type: 'text',
                                class: 'form-control',
                                name: 'univ_start_date',
                                id: 'univ_start_date'
                            });

                            var grpTxt = $('<span>', {
                                class: 'input-group-text',
                                text: '~'
                            });

                            var inputEndDate = $('<input>', {
                                type: 'text',
                                class: 'form-control',
                                name: 'univ_end_date',
                                id: 'univ_start_date'
                            });

                            inputGrp.append(inputStartDate, grpTxt, inputEndDate);
                            colDiv.append(inputGrp);
                            break;
                        case '주야구분':
                            var inputContent = $('<select>', {
                                class: 'form-select univ_dn',
                                name: 'univ_dn'
                            });
                            var option = $('<option>');
                            inputContent.append(option);
                            colDiv.append(inputContent);
                            break;
                        case '전공계열':
                            var inputContent = $('<select>', {
                                class: 'form-select univ_ser',
                                name: 'univ_ser'
                            });
                            var option = $('<option>');
                            inputContent.append(option);
                            colDiv.append(inputContent);
                            break;
                        case '취득학점':
                            var inputGrp = $('<div>', {
                                class: 'input-group'
                            });

                            var inputCrd = $('<input>', {
                                type: 'text',
                                class: 'form-control',
                                name: 'univ_crd',
                                id: 'univ_crd',
                                placeholder: '예) 3.0'
                            });

                            var grpTxt = $('<span>', {
                                class: 'input-group-text',
                                text: '/'
                            });

                            var inputCrdMax = $('<input>', {
                                type: 'text',
                                class: 'form-control',
                                name: 'univ_crd_max',
                                id: 'univ_crd_max',
                                placeholder: '예) 4.5'
                            });

                            inputGrp.append(inputCrd, grpTxt, inputCrdMax);
                            colDiv.append(inputGrp);
                            break;
                        case '주전공':
                            var inputContent = $('<select>', {
                                class: 'form-select univ_cls',
                                name: 'univ_cls'
                            });
                            var option = $('<option>');
                            inputContent.append(option);
                            colDiv.append(inputContent);
                            break;
                        case '복수전공':
                            var inputContent = $('<select>', {
                                class: 'form-select univ_cls_mul',
                                name: 'univ_cls_mul',
                                id: 'univ_cls_mul'
                            });
                            var option = $('<option>');
                            inputContent.append(option);
                            colDiv.append(inputContent);
                            break;
                        case '부전공':
                            var inputContent = $('<select>', {
                                class: 'form-select univ_cls_sub',
                                name: 'univ_cls_sub',
                                id: 'univ_cls_sub'
                            });
                            var option = $('<option>');
                            inputContent.append(option);
                            colDiv.append(inputContent);
                            break;
                        case '졸업구분':
                            var inputContent = $('<select>', {
                                class: 'form-select univ_grd',
                                name: 'univ_grd'
                            });
                            var option = $('<option>');
                            inputContent.append(option);
                            colDiv.append(inputContent);
                            break;
                    }

                    rowDiv.append(colDiv);
                    td.append(rowDiv);
                    tr.append(th, td);
                }
                tbody.append(tr);
            }

            table.append(tbody);

            var getSeq = $('<input>', {
                type: 'hidden',
                name: 'univ_seq',
                id: 'univ_seq',
                value: $('.addTable').length + 1
            });

            var rowFn = $('<div>', {
                class: 'row mb-3 text-end'
            });

            var label = $('<label>', {
                id: 'fn'
            });

            var formCheckLine = $('<div>', {
                class: 'form-check form-check-inline'
            });

            var checkInput = $('<input>', {
                class: 'form-check-input fn',
                type: 'radio',
                name: 'fn',
                value: 'T'
            });

            var labelName = $('<label >', {
                class: 'form-check-label',
                for: 'fn',
                text: '최종학력여부'
            });

            var notCheck = $('<input>', {
                class: 'form-check-input fn',
                type: 'radio',
                name: 'fn',
                value: 'F',
                checked: true
            });
            notCheck.css('display', 'none');

            formCheckLine.append(checkInput, labelName, notCheck);
            label.append(formCheckLine);
            rowFn.append(label);

            var resetBtn = $('<button>', {
                type: 'button',
                class: 'btn btn-outline-primary btncolor',
                id: 'resetBtn',
                text: '초기화',
                click: function () {
                    form.find('input:not(#univ_seq, #form_no), select').val("").trigger("change");
                }
            });

            var deleteBtn = $('<button>', {
                type: 'button',
                class: 'btn btn-outline-primary btncolor',
                id: 'addDeleteBtn',
                text: '삭제',
                click: function () {
                    var setSeq = $('form').last().serialize();

                    addTable.remove();
                    $('.addTable').each(function (index) {
                        $(this).find('input[name="univ_seq"]').val(index + 1);
                    });

                    var forms = $('.addTable').find('form');
                    var totalForms = forms.length;

                    forms.each(function (i, form) {

                        var formData = $(form).serialize();

                        $.ajax({
                            method: "POST",
                            url: "/infoEdu?" + formData
                        })
                            .done(function (data) {
                            })
                            .fail(function (data, textStatus, errorThrown) {
                                alert("실패");
                                callback(data);
                            });
                    });

                    $.ajax({
                        method: "POST",
                        url: "/infoEduDelete?" + setSeq
                    })
                        .done(function (data) {
                        })
                        .fail(function (data, textStatus, errorThrown) {
                            alert("실패");
                            callback(data);
                        });
                }
            });

            var btnGroupDiv = $('<div>', {
                class: 'btn-group',
                role: 'group'
            });

            var btncolDiv = $('<div>', {
                class: 'col-sm-auto'
            });

            var btnrowDiv = $('<div>', {
                class: 'row justify-content-sm-end'
            });

            btnGroupDiv.append(resetBtn, deleteBtn);

            btncolDiv.append(btnGroupDiv);

            btnrowDiv.append(btncolDiv);

            var hr = $('<hr>');

            form.append(rowFn, getFormNo, getSeq, table);

            var addFormSerl = form.serialize();

            $.ajax({
                method: "POST",
                url: "/infoEdu?" + addFormSerl
            })
                .done(function (data) {
                })
                .fail(function (data, textStatus, errorThrown) {
                    alert("실패");
                    callback(data);
                });

            addTable.append(form, btnrowDiv, hr)
            $('.boxWrap').append(addTable);

            $(function () {
                selectOpt("univ_edu", "UNIV_EDU");
                selectOpt("univ_grd", "GRDTN_CLS");
                selectOpt("univ_edu", "UNIV_EDU");
                selectOpt("univ_ser", "UNIV_SER");
                selectOpt("univ_dn", "DIV_DN");
                selectOpt("univ_branch", "UNIV_BRANCH")
            });

            $('.fn').on('change', function () {
                var value = $(this).val(); // 변경된 라디오 버튼의 값
                $('.fn[value="F"]').prop('checked', true); // 기존에 "F"로 선택되어 있던 라디오 버튼을 선택
                $(this).prop('checked', value === "T"); // 변경된 라디오 버튼의 값이 "T"인 경우만 선택
            });

            $('.date').datepicker({
                format: "yyyy-mm-dd",
                language: "kr",
                autoclose: true
            });

            $('.dateMonth input').each(function () {
                $(this).datepicker({
                    format: 'yyyy-mm',
                    language: "kr",
                    minViewMode: "months",
                    autoclose: true
                })
            });

        });
        /*]]>*/
    </script>
    <!-- 공통 스크립트-->
    <th:block th:replace="/fragments/script :: scriptFragment"></th:block>
</body>

</html>