<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- 공통 헤드-->
<th:block th:replace="/fragments/head :: headFragment"></th:block>




<body>
    <!-- 공통 Nav -->
    <th:block th:replace="/fragments/top :: topbarFragment"></th:block>

    <!-- content -->
    <div class="container my-5">
        <div class="row p-5">
            <div class="col text-left">
                <h4 class="headline">[정규직] 동아지질 신입사원 채용공고</h4>
            </div>
            <div class="row-sm-12 mt-3">
                <div class="col-sm mx-3 mb-5">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/user_info">기본정보</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/edu_info">학력사항</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/career_info">경력사항</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cert_info">외국어/자격사항</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/act_info">활동사항</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/survey_info">자기소개</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/app_post">지원서 제출</a>
                        </li>
                    </ul>
                </div>
                <!-- 자기소개 탭-->
                <div class="tab-content mx-5 my-4" id="myTabContent">
                    <!-- 자기소개 항목 -->
                    <div class="row-sm-12 mx-2 table_margin">
                        <div class="row mx-2">
                            <div class="col-sm-6 p-0">
                                <h4 class="subtitle mb-1"><span class="marking">&#42;
                                    </span>자기소개</h4>
                            </div>
                            <div class="col-sm-6 text-end p-0">
                                <p class="mb-1"><span class="marking">&#42; </span>필수입력항목</p>
                            </div>
                        </div>
                        <table class="table mb-5" th:each="survDto : ${survInfo}">
                            <tbody>
                                <form name="infoSurvForm" id="infoSurvForm">
                                    <tr>
                                        <th class="table-light" scope="row" colspan="5">
                                            <span th:text="${survDto.question}"></span>
                                            <input type="hidden" id="quest_no" name="quest_no"
                                                th:value="${survDto.questNo}">
                                            <input type="hidden" id="form_no" name="form_no" th:value="${formNO}">
                                        </th>
                                    </tr>
                                    <tr>
                                        <td class="table-light" colspan="1">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="mx-3 mt-3">
                                                        <textarea class="form-control" id="surv_answer"
                                                            name="surv_answer" rows="10" minlength="300"
                                                            maxlength="1000" th:text="${survDto.answer}"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 text-end">
                                                    <div class="mt-3 ms-4 me-4  mb-2">
                                                        <span id="text_count">0자 / 최소 300자, 최대 1000자</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </form>
                            </tbody>
                        </table>
                        <!-- 자기소개 항목 end -->
                    </div>
                    <!-- 자기소개 탭 end-->
                </div>
            </div>
            <!-- 버튼 -->
            <div class="col mb-5 text-center">
                <button type="button" class="btn btn-secondary btn-lg mx-2" id="prev_btn">이전</button>
                <button type="button" class="btn btn-secondary btn-lg mx-2" id="next_btn">다음</button>
            </div>
        </div>
    </div>
    <!-- 공통 스크립트-->

    <script>
        $('#answer').keyup(function (e) {
            console.log('#answer');
            var content = $(this).val();
            $('#text_count').text(content.length + "자 / 최소 300자, 최대 1000자"); //실시간 글자수 카운팅
            if (content.length > 1000) {
                $(this).val(content.substring(0, 1000));
                $('#text_count').text("1000자 / 최소 300자, 최대 1000자");
            }
        });

        $('#answer_2').keyup(function (e) {
            console.log('#answer_2');
            var content = $(this).val();
            $('#text_count_2').text(content.length + "자 / 최소 300자, 최대 1000자"); //실시간 글자수 카운팅
            if (content.length > 1000) {
                $(this).val(content.substring(0, 1000));
                $('#text_count_2').text("1000자 / 최소 300자, 최대 1000자");
            }
        });

        $('#answer_3').keyup(function (e) {
            console.log('#answer_3');
            var content = $(this).val();
            $('#text_count_3').text(content.length + "자 / 최소 300자, 최대 1000자"); //실시간 글자수 카운팅
            if (content.length > 1000) {
                $(this).val(content.substring(0, 1000));
                $('#text_count_3').text("1000자 / 최소 300자, 최대 1000자");
            }
        });
    </script>
    <script th:inline="javascript">
        $("#next_btn").on("click", function (e) {
            /*<![CDATA[*/

            // var formDataArray = [];

            $('.table').find('form').each(function (index, form) {
                var formData = $(form).serialize();
                
                console.log(formData);

                $.ajax({
                    method: "POST",
                    url: "/infoSurv?" + formData
                })
                    .done(function (data) {
                        location.href = "/app_post";
                    })
                    .fail(function (data, textStatus, errorThrown) {
                        alert("실패")
                        callback(data);
                    });

            });

            // console.log(formDataArray);

            //1. controller-> save -> return url
            //2. rest controller-> save -> return "url"value -> location.href
            // $.ajax({
            //     method: "POST",
            //     url: "/infoSurv?"
            // })
            //     .done(function (msg) {
            //         alert("tr")
            //     })
            //     .fail(function (data, textStatus, errorThrown) {
            //         alert("실패")
            //         callback(data);
            //     });
        });
        /*]]>*/
    </script>
    <th:block th:replace="/fragments/script :: scriptFragment"></th:block>
</body>

</html>