<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- 공통 헤드-->
<th:block th:replace="/fragments/head :: headFragment"></th:block>

<body>
    <!-- 공통 Nav -->
    <th:block th:replace="/fragments/top :: topbarFragment"></th:block>
    <!-- content -->
    <div class="container my-5">
        <div class="row p-5">
            <div class="col text-left">
                <h4 class="headline">[정규직] 동아지질 신입사원 채용공고</h4>
            </div>
            <div class="row-sm-12 mt-3">
                <div class="col-sm mx-3 mb-5">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/user_info">기본정보</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/edu_info">학력사항</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/career_info">경력사항</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cert_info">외국어/자격사항</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/act_info">활동사항</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/survey_info">자기소개</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/app_post">지원서 제출</a>
                        </li>
                    </ul>
                </div>
                <!-- 기본정보 탭-->
                <div class="tab-content mx-5 my-4" id="myTabContent">
                    <!-- USER_INFO form -->
                    <form name="infoUserForm" id="infoUserForm">
                        <!-- 지원정보 -->
                        <div class="row-sm-12 mx-2 table_margin">
                            <div class="row mx-2">
                                <div class="col-sm-6 p-0">
                                    <h4 class="subtitle mb-1"><span class="marking">&#42;
                                        </span>지원정보</h4>
                                </div>
                                <div class="col-sm-6 text-end p-0">
                                    <p class="mb-1"><span class="marking">&#42; </span>필수입력항목</p>
                                </div>
                            </div>
                            <table class="table mb-5">
                                <tbody>
                                    <tr>
                                        <th class="table-light" scope="row"><span class="marking">&nbsp;
                                            </span>지원직무
                                        </th>
                                        <td class="table-light" colspan="1">
                                            <div class="row">
                                                <div class="col">
                                                    <span class="ms-3"
                                                        style="font-weight: bold; font-size: 16px;">토목시공</span>
                                                </div>
                                            </div>
                                        </td>
                                        <th class="table-light" scope="row"><span class="marking">&nbsp;
                                            </span>입사가능시기
                                        </th>
                                        <td class="table-light" rowspan="1">
                                            <div class="row-sm-3">
                                                <div class="col">
                                                    <input type="text" class="form-control date" name="request_date"
                                                        id="request_date" th:value="${infoUser.requestDate}">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- 지원정보 end-->
                        <!-- 인적사항 -->
                        <div class="row-sm-12 mx-2 table_margin">
                            <div class="row mx-2">
                                <div class="col-sm-6 p-0">
                                    <h4 class="subtitle mb-1"><span class="marking">&#42;
                                        </span>인적사항</h4>
                                </div>
                                <div class="col-sm-6 text-end p-0">
                                    <p class="mb-1"><span class="marking">&#42; </span>필수입력항목</p>
                                </div>
                            </div>
                            <table class="table mb-5">
                                <tbody>
                                    <tr>
                                        <td class="table-light" id="idPhoto" rowspan="5">
                                            <img class="userPhoto" src="images/userimg.png">
                                            <input type="file" id="user_profile"
                                                accept="image/gif, image/png, image/jpeg" style="display: none;">
                                            <button type="button" class="btn btn-dark my-2"
                                                onclick="document.getElementById('user_profile').click();">사진등록
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="table-light" scope="row"><span class="marking">&#42;
                                            </span>성명
                                        </th>
                                        <td class="table-light" colspan="3">
                                            <div class="col-sm-5">
                                                <span th:text="${infoUser.userName}" class="ms-3"
                                                    style="font-weight: bold;"></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="table-light" scope="row"><span class="marking">&#42;
                                            </span>생년월일
                                        </th>
                                        <td class="table-light" colspan="3">
                                            <div class="col-sm-5">
                                                <span th:text="${infoUser.userBirth}" class="ms-3"
                                                    style="font-weight: bold;"></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="table-light" scope="row"><span class="marking">&#42;
                                            </span>성별
                                        </th>
                                        <td class="table-light" colspan="3">
                                            <div class="col-sm-5">
                                                <label id="gender">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="user_gender"
                                                            id="male" value="M"
                                                            th:checked="${infoUser.userGender=='M'}">
                                                        <label class="form-check-label" for="male">남성</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="user_gender"
                                                            id="female" value="F"
                                                            th:checked="${infoUser.userGender=='F'}">
                                                        <label class="form-check-label" for="female">여성</label>
                                                    </div>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="table-light" scope="row"><span class="marking">&#42;
                                            </span>국적
                                        </th>
                                        <td class="table-light" colspan="3">
                                            <div class="col-sm-5">
                                                <select class="form-select" aria-label="user_nation" name="user_nation"
                                                    id="user_nation">
                                                    <option th:if="${infoUser.userNation==null}" selected disabled
                                                        hidden>선택
                                                    </option>
                                                    <option th:unless="${infoUser.userNation==null}" selected
                                                        th:value="${infoUser.userNation}"
                                                        th:text="${infoUser.userNation}">
                                                    </option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- 인적사항 end-->
                        <!-- 연락사항 -->
                        <div class="row-sm-12 mx-2 table_margin">
                            <div class="row mx-2">
                                <div class="col-sm-6 p-0">
                                    <h4 class="subtitle mb-1"><span class="marking">&#42;
                                        </span>연락사항</h4>
                                </div>
                                <div class="col-sm-6 text-end p-0">
                                    <p class="mb-1"><span class="marking">&#42; </span>필수입력항목</p>
                                </div>
                            </div>
                            <table class="table mb-5">
                                <tbody>
                                    <tr>
                                        <th class="table-light" scope="row"><span class="marking">&#42;
                                            </span>주소지
                                        </th>
                                        <td class="table-light" colspan="3">
                                            <div class="row mb-1">
                                                <div class="col-sm-2 pe-1">
                                                    <input type="text" class="form-control" name="user_zip"
                                                        id="user_zip" readonly
                                                        style="background-color: rgb(240, 240, 240); pointer-events: none;"
                                                        th:value="${infoUser.userZip}">
                                                </div>
                                                <div class="col-sm-3 ps-1">
                                                    <button type="button" class="btn btn-dark"
                                                        onclick="findAddr()">우편번호조회
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-sm-7 pe-1">
                                                    <input type="text" class="form-control" name="user_address"
                                                        id="user_address" readonly
                                                        style="background-color: rgb(240, 240, 240); pointer-events: none;"
                                                        th:value="${infoUser.userAddr}">
                                                </div>
                                                <div class="col-sm-5 ps-1">
                                                    <input type="text" class="form-control" name="user_address_dtl"
                                                        id="user_address_dtl" placeholder="상세 주소"
                                                        th:value="${infoUser.userAddrDtl}">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="table-light" scope="row"><span class="marking">&#42;
                                            </span>휴대전화
                                        </th>
                                        <td class="table-light" colspan="3">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" name="user_cp" id="user_cp"
                                                        maxlength="13" oninput="formatPhoneNumber('user_cp')"
                                                        th:value="${infoUser.userCp}">
                                                </div>
                                                <div class="hypen col-sm-3">
                                                    * 하이픈(-) 제외
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="table-light" scope="row"><span class="marking">&#42;
                                            </span>비상연락처
                                        </th>
                                        <td class="table-light" colspan="3">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" name="user_tel"
                                                        id="user_tel" maxlength="13"
                                                        oninput="formatPhoneNumber('user_tel')"
                                                        th:value="${infoUser.userTel}">
                                                </div>
                                                <div class="hypen col-sm-3">
                                                    * 하이픈(-) 제외
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                    <!-- 연락사항 end-->
                    <!-- 병역사항 -->
                    <form name="infoPersonForm" id="infoPersonForm">
                        <div class="row-sm-12 mx-2 table_margin">
                            <div class="row mx-2">
                                <div class="col-sm-6 p-0">
                                    <h4 class="subtitle mb-1"><span class="marking">&#42;
                                        </span>병역사항</h4>
                                </div>
                                <div class="col-sm-6 text-end p-0">
                                    <p class="mb-1"><span class="marking">&#42; </span>필수입력항목</p>
                                </div>
                            </div>
                            <table class="table mb-5">
                                <tbody>
                                    <tr>
                                        <th class="table-light" scope="row"><span class="marking">&#42;
                                            </span>병역여부
                                        </th>
                                        <td class="table-light" colspan="1">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <select class="form-select" aria-label="mil_srvc" name="mil_srvc"
                                                        id="mil_srvc">
                                                        <option th:if="${infoPerson.milServiceStatus==null}" selected
                                                            disabled hidden>선택</option>
                                                        <option th:unless="${infoPerson.milServiceStatus==null}"
                                                            selected th:value="${infoPerson.milServiceStatus}"
                                                            th:text="${infoPerson.milServiceStatus}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                        <th class="table-light" scope="row"><span class="marking">&nbsp;
                                            </span>구분
                                        </th>
                                        <td class="table-light style_width" colspan="1">
                                            <div class="row">
                                                <div class="col-sm-6 pe-1">
                                                    <select class="form-select" aria-label="mil_type" name="mil_type"
                                                        id="mil_type">
                                                        <option th:if="${infoPerson.milType==null}" selected disabled
                                                            hidden>
                                                            선택</option>
                                                        <option th:unless="${infoPerson.milType==null}" selected
                                                            th:value="${infoPerson.milType}"
                                                            th:text="${infoPerson.milType}">
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-6 ps-1">
                                                    <select class="form-select" aria-label="mil_type_dtl"
                                                        name="mil_type_dtl" id="mil_type_dtl">
                                                        <option th:if="${infoPerson.milTypeDtl==null}" selected disabled
                                                            hidden>선택
                                                        </option>
                                                        <option th:unless="${infoPerson.milTypeDtl==null}" selected
                                                            th:value="${infoPerson.milTypeDtl}"
                                                            th:text="${infoPerson.milTypeDtl}">
                                                        </option>
                                                    </select>
                                                </div>

                                            </div>

                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="table-light" scope="row"><span class="marking">&nbsp;
                                            </span>전역사유
                                        </th>
                                        <td class="table-light" colspan="1">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <select class="form-select" aria-label="mil_discharge"
                                                        name="mil_discharge" id="mil_discharge">
                                                        <option th:if="${infoPerson.milDischarge==null}" selected
                                                            disabled hidden>
                                                            선택</option>
                                                        <option th:unless="${infoPerson.milDischarge==null}" selected
                                                            th:value="${infoPerson.milDischarge}"
                                                            th:text="${infoPerson.milDischarge}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                        <th class="table-light" scope="row"><span class="marking">&nbsp;
                                            </span>면제사유
                                        </th>
                                        <td class="table-light" colspan="1">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control" name="mil_exem"
                                                        id="mil_exem" th:value="${infoPerson.milExemption}" disabled>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="table-light" scope="row"><span class="marking">&nbsp;
                                            </span>복무기간
                                        </th>
                                        <td class="table-light" colspan="3">
                                            <div class="row">
                                                <div class="col-sm-5" style="width: 40%;">
                                                    <div class="input-group dateMonth">
                                                        <input type="text" class="form-control"
                                                            aria-label="mil_start_date" name="mil_start_date"
                                                            id="mil_start_date" th:value="${infoPerson.milStartDate}">
                                                        <span class="input-group-text">~</span>
                                                        <input type="text" class="form-control"
                                                            aria-label="mil_end_date" name="mil_end_date"
                                                            id="mil_end_date" th:value="${infoPerson.milEndDate}">
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- 병역사항 end-->
                        <!-- 신상정보 -->
                        <div class="row-sm-12 mx-2 table_margin">
                            <div class="row mx-2">
                                <div class="col-sm-6 p-0">
                                    <h4 class="subtitle mb-1"><span class="marking">&#42;
                                        </span>신상정보</h4>
                                </div>
                                <div class="col-sm-6 text-end p-0">
                                    <p class="mb-1"><span class="marking">&#42; </span>필수입력항목</p>
                                </div>
                            </div>
                            <table class="table mb-5">
                                <tbody>
                                    <tr>
                                        <th class="table-light" scope="row"><span class="marking">&#42;
                                            </span>보훈
                                        </th>
                                        <td class="table-light" colspan="3">
                                            <div class="row">
                                                <div class="col-sm-auto pe-0">
                                                    <span class="marking">&#42;
                                                    </span>보훈여부
                                                </div>
                                                <div class="col-sm-auto ps-1 pe-0">
                                                    <select class="form-select" aria-label="vtr_srvc" name="vtr_srvc"
                                                        id="vtr_srvc">
                                                        <option th:if="${infoPerson.vtrServiceStatus==null}" selected
                                                            disabled hidden>선택</option>

                                                        <option th:if="${infoPerson.vtrServiceStatus=='T'}" selected
                                                            th:value="${infoPerson.vtrServiceStatus}">해당</option>

                                                        <option th:if="${infoPerson.vtrServiceStatus=='F'}" selected
                                                            th:value="${infoPerson.vtrServiceStatus}">비해당</option>
                                                        <option value="T">해당</option>

                                                        <option value="F">비해당</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-auto pe-0">
                                                    <span class="marking">&nbsp;
                                                    </span>보훈관계
                                                </div>
                                                <div class="col-sm-2 ps-1 pe-0">
                                                    <select class="form-select" aria-label="vtr_relation"
                                                        name="vtr_relation" id="vtr_relation">
                                                        <option th:if="${infoPerson.vtrRelation==null}" selected
                                                            disabled hidden>
                                                            선택</option>
                                                        <option th:unless="${infoPerson.vtrRelation==null}" selected
                                                            th:value="${infoPerson.vtrRelation}"
                                                            th:text="${infoPerson.vtrRelation}"></option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-auto pe-0">
                                                    <span class="marking">&nbsp;
                                                    </span>보훈번호
                                                </div>
                                                <div class="col-sm-3 ps-1 pe-0">
                                                    <input type="text" class="form-control" aria-label="vtr_num"
                                                        name="vtr_num" id="vtr_num" th:value="${infoPerson.vtrNumber}">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="table-light" scope="row"><span class="marking">&#42;
                                            </span>장애
                                        </th>
                                        <td class="table-light" colspan="3">
                                            <div class="row">
                                                <div class="col-sm-auto pe-0">
                                                    <span class="marking">&#42;
                                                    </span>장애여부
                                                </div>
                                                <div class="col-sm-auto ps-1 pe-0">
                                                    <select class="form-select" aria-label="dis_srvc" name="dis_srvc"
                                                        id="dis_srvc">
                                                        <option th:if="${infoPerson.disServiceStatus==null}" selected
                                                            disabled hidden>선택</option>
                                                        <option th:if="${infoPerson.disServiceStatus=='T'}" selected
                                                            th:value="${infoPerson.disServiceStatus}">해당</option>
                                                        <option th:if="${infoPerson.disServiceStatus=='F'}" selected
                                                            th:value="${infoPerson.disServiceStatus}">비해당</option>
                                                        <option value="T">해당</option>
                                                        <option value="F">비해당</option>
                                                    </select>
                                                </div>

                                                <div class="col-sm-auto pe-0">
                                                    <span class="marking">&nbsp;
                                                    </span>장애구분
                                                </div>
                                                <div class="col-sm-2 ps-1 pe-0">
                                                    <select class="form-select" aria-label="dis_class" name="dis_class"
                                                        id="dis_class">
                                                        <option th:if="${infoPerson.disClass==null}" selected disabled
                                                            hidden>
                                                            선택</option>
                                                        <option th:unless="${infoPerson.disClass==null}" selected
                                                            th:value="${infoPerson.disClass}"
                                                            th:text="${infoPerson.disClass}">
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-auto pe-0">
                                                    <span class="marking">&nbsp;
                                                    </span>장애등급
                                                </div>
                                                <div class="col-sm-3 ps-1 pe-0">
                                                    <select class="form-select" aria-label="dis_rate" name="dis_rate"
                                                        id="dis_rate">
                                                        <option th:if="${infoPerson.disRate==null}" selected disabled
                                                            hidden>
                                                            선택</option>
                                                        <option th:unless="${infoPerson.disRate==null}" selected
                                                            th:value="${infoPerson.disRate}"
                                                            th:text="${infoPerson.disRate}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- 신상정보 end-->
                        <!-- 기본정보 탭 end-->
                    </form>
                </div>
            </div>
            <!-- 버튼 -->
            <div class="col mb-5 text-center">
                <button type="button" class="btn btn-secondary btn-lg mx-2" id="btn"
                    onclick="location.href='/app_form'">이전
                </button>
                <button type="button" class="btn btn-secondary btn-lg mx-2" id="next_btn">다음
                </button>
            </div>
        </div>
    </div>

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        $(function () {

            selectOpt("mil_srvc", "MIL_SRVC");
            selectOpt("mil_type", "MIL_TYPE");
            selectOpt("mil_type_dtl", "MIL_TYPE_DTL");
            selectOpt("mil_discharge", "MIL_DSCHR");
            selectOpt("vtr_relation", "VTR_RLT");
            selectOpt("dis_class", "DIS_CLS");
            selectOpt("dis_rate", "DIS_RATE");


            /* 처음 이미지 가져오기 */
            let photo_path = $('.userPhoto').attr('src');
            let my_photo; //회원이 업로드할 이미지 담을 변수
            $('#user_profile').change(function () {
                my_photo = this.files[0];
                if (!my_photo) {
                    $('.userPhoto').attr('src', photo_path);
                    return
                }
                if (my_photo.size > 1024 * 1024) {
                    alert(Math.round(my_photo.size / 1024 / 1024) + 'MB(1MB까지만 업로드 가능)');
                    $('.userPhoto').attr('src', photo_path);
                    $(this).val('');
                    return;
                }
                /* 이미지 미리보기 처리 */
                let reader = new FileReader();
                reader.readAsDataURL(my_photo);

                reader.onload = function () {
                    $('.userPhoto').attr('src', reader.result);
                };
            });
        });

        /* 휴대폰 번호 형식 변환 */
        function formatPhoneNumber(inputId) {
            var inputElement = document.getElementById(inputId);
            var inputValue = inputElement.value;

            // 입력값에서 숫자만 추출
            var numericValue = inputValue.replace(/\D/g, '');

            // 숫자를 전화번호 형식으로 변환
            var formattedValue = numericValue.replace(/(\d{3})(\d{4})(\d{4})/, '$1-$2-$3');

            // 변환된 값을 다시 입력 필드에 설정
            inputElement.value = formattedValue;
        }

        /* 우편 번호 조회 */
        function findAddr() {
            new daum.Postcode({
                oncomplete: function (data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if (data.userSelectedType === 'R') {
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if (data.buildingName !== '' && data.apartment === 'Y') {
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if (extraAddr !== '') {
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        // 조합된 참고항목을 해당 필드에 넣는다.
                        document.getElementById("user_address").value = extraAddr;

                    } else {
                        document.getElementById("user_address").value = '';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('user_zip').value = data.zonecode;
                    document.getElementById("user_address").value = addr + extraAddr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("user_address_dtl").focus();
                }
            }).open();
        }
    </script>


    <script th:inline="javascript">

        $("#next_btn").on("click", function (e) {
            /*<![CDATA[*/
            var formNo = [[${ infoUser.formNo }]];
            var infoUserForm = $("#infoUserForm").serialize();
            var infoPersonForm = $("#infoPersonForm").serialize();

            console.log(infoUserForm);
            console.log("form_no=" + formNo + infoUserForm + "&" + infoPersonForm);
            //1. controller-> save -> return url
            //2. rest controller-> save -> return "url"value -> location.href
            $.ajax({
                method: "POST",
                url: "/infoUser?form_no=" + formNo + "&" + infoUserForm + "&" + infoPersonForm
            })
                .done(function (msg) {
                    location.href = "/edu_info?form_no=" + data;
                })
                .fail(function (data, textStatus, errorThrown) {
                    alert("실패")
                    callback(data);
                });
        });
        /*]]>*/
    </script>
    <!-- 공통 스크립트-->
    <th:block th:replace="/fragments/script :: scriptFragment"></th:block>
</body>

</html>