<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dage.recruituser.DAO.UserManageDAO">
    <resultMap id="userListMap" type="java.util.HashMap">
        <result column="formNo" property="formNo"/>
        <result column="appNo" property="appNo"/>
        <result column="procSeq" property="procSeq"/>
        <result column="userName" property="userName"/>
        <result column="appTitle" property="appTitle"/>
        <result column="appJob" property="appJob"/>
    </resultMap>
    <select id="selectAppInfo" resultMap="userListMap">
        SELECT
            A.FORM_NO AS formNo,
            A.APP_NO AS appNo,
            A.PROC_SEQ AS procSeq,
            A.USER_NAME AS userName,
            B.APP_TITLE AS appTitle,
            B.APP_JOB AS appJob
        FROM
            APP_USER A
        LEFT JOIN
            APP_BOARD B
        ON
        A.APP_NO = B.APP_NO
        <where>
            <if test="app_no != null">
                AND A.APP_NO = #{app_no}
            </if>
            <if test="proc_seq != 0">
                AND A.PROC_SEQ = #{proc_seq}
            </if>
        </where>
        ORDER BY A.FORM_NO DESC
    </select>

    <update id="procUpdate" parameterType="hashmap">
        UPDATE APP_USER SET
            PROC_SEQ = #{proc_seq}
        WHERE
            FORM_NO = #{form_no}
    </update>

    <select id="selectUserInfo">
        SELECT
        A, B, C, D, E, F, G, H, I, J ,K, L, M
        FROM APP_USER A
        LEFT JOIN USER_INFO B ON A.FORM_NO = B.FORM_NO
        LEFT JOIN PSNL_INFO C ON A.FORM_NO = C.FORM_NO
        LEFT JOIN EDU_HIGH_INFO D ON A.FORM_NO = D.FORM_NO
        LEFT JOIN EDU_UNIV_INFO E ON A.FORM_NO = E.FORM_NO
        LEFT JOIN CAREER_INFO F ON A.FORM_NO = F.FORM_NO
        LEFT JOIN PROJ_INFO G ON A.FORM_NO = G.FORM_NO
        LEFT JOIN CERT_INFO H ON A.FORM_NO = H.FORM_NO
        LEFT JOIN LANG_INFO I ON A.FORM_NO = I.FORM_NO
        LEFT JOIN OA_INFO J ON A.FORM_NO = J.FORM_NO
        LEFT JOIN ACT_INFO K ON A.FORM_NO = K.FORM_NO
        LEFT JOIN AWD_INFO L ON A.FORM_NO = L.FORM_NO
        LEFT JOIN SURV_ANSWER M ON A.FORM_NO = M.FORM_NO
        WHERE A.FORM_NO = #{form_no};
    </select>
</mapper>