<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dage.recruituser.DAO.UserDAO">

    <!--기본사항 저장-->
    <insert id="save" parameterType="dage.recruituser.DTO.UserDTO">
        INSERT INTO APP_USER (
            USER_EMAIL,
            USER_PASSWORD,
            USER_NAME,
            USER_BIRTH,
            USER_AGREE_1,
            USER_AGREE_2,
            USER_AGREE_3,
            USER_AGREE_4,
            USER_AGREE_5
        ) VALUES (
            #{userEmail},
            #{userPassword},
            #{userName},
            #{userBirth},
            #{userAgree1},
            #{userAgree2},
            #{userAgree3},
            #{userAgree4},
            #{userAgree5},
        )
    </insert>

    <!-- 게시글 상세정보 조회 -->
    <select id="findById" parameterType="long" resultType="dage.recruituser.DTO.UserDTO">
        SELECT
            USER_NO,
            USER_EMAIL,
            USER_PASSWORD,
            USER_NAME,
            USER_BIRTH,
            USER_AGREE_1,
            USER_AGREE_2,
            USER_AGREE_3,
            USER_AGREE_4,
            USER_AGREE_5
        FROM
            APP_USER
        WHERE
            USER_NO = 2
    </select>

    <select id="select" resultType="dage.recruituser.DTO.UserDTO">
        SELECT
        *
        FROM
        APP_USER
        WHERE
        USER_NO = 2
    </select>
    <!-- 정보 수정 -->
<!--    <update id="update" parameterType="dage.recruituser.DTO.UserDTO">-->
<!--        UPDATE tb_post-->
<!--        SET-->
<!--        modified_date = NOW()-->
<!--        , title = #{title}-->
<!--        , content = #{content}-->
<!--        , writer = #{writer}-->
<!--        , notice_yn = #{noticeYn}-->
<!--        WHERE-->
<!--        id = #{id}-->
<!--    </update>-->
</mapper>